<!DOCTYPE html>

{% macro renderAchievement(achievement, workoutType) -%}
    <div class="col">
        <div class="tile">
            <div class="diamond d-flex align-items-center justify-content-center mx-auto bg-secondary-subtle {{ achievement.color }} text-dark">
                <div class="label fw-bold">
                    {% if achievement.is_font_awesome_icon %}
                        <i class="fa-solid {{ achievement.icon }} fa-fw"></i>
                    {% elif achievement.is_outlined_icon %}
                        <span class="material-symbols-outlined">{{ achievement.icon }}</span>
                    {% else %}
                         <span class="material-symbols-outlined filled">{{ achievement.icon }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card height-60">
            <div class="card-body">
                <h5 class="card-title mt-5">{{ achievement.title }}</h5>
                <p class="card-text mb-2">{{ achievement.description }}</p>
                {% if achievement.historyItems|length > 1 %}
                    <a href="" class="fw-bold" data-bs-toggle="modal" data-bs-target="#history-items-modal-{{ workoutType }}-{{ achievement.icon }}">{{ gettext("Show more") }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="history-items-modal-{{ workoutType }}-{{ achievement.icon }}" data-bs-theme="dark">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    {{ workoutMacros.workout_type_icon_small(workoutType, fontSize='fs-3') }}
                    <div class="fs-5 ms-3">
                        {{ workoutType.get_localized_name() }} - {{ achievement.title }}
                    </div>
                </div>
                <div class="modal-body">
                        <div class="list-group text-start">
                        {% for historyItem in achievement.historyItems %}
                            <div class="list-group-item d-flex align-items-center justify-content-between">
                                {% set historyItemLink = historyItem.get_link() %}
                                {% if historyItemLink is not none %}
                                    {{ historyItemLink }}
                                {% else %}
                                    <div>{{ historyItem.date }}</div>
                                {% endif %}
                                <div>{{ historyItem.get_value_formatted() }}</div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
                <div class="modal-footer overflow-y-auto">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Achievements') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/achievements.css") }}"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('achievements') }}

        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                {% for workoutType, achievements in achievements.items() %}
                    <div class="row mt-3 mb-3">
                        <div class="col col-12 mx-auto">
                            <h3 class="d-flex align-items-center justify-content-center">
                                {{ workoutMacros.workout_type_icon_small(workoutType, classes='me-3')}}
                                <span>{{ workoutType.get_localized_name() }}</span>
                            </h3>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-5">
                        {% for achievement in achievements %}
                            {{ renderAchievement(achievement, workoutType) }}
                        {% endfor %}
                    </div>

                    <div class="mt-5">&nbsp;</div>
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
