<!DOCTYPE html>

{% macro renderAnnualAchievement(achievement, index) -%}
    <div class="col mx-auto">
        <div class="tile">
            <div class="diamond-small d-flex align-items-center justify-content-center mx-auto bg-secondary-subtle {{ achievement.color }} text-dark">
                <div class="label fw-bold">
                    {% if achievement.is_font_awesome_icon %}
                        <i class="fa-solid {{ achievement.icon }} fa-fw"></i>
                    {% elif achievement.is_outlined_icon %}
                        <span class="material-symbols-outlined">{{ achievement.icon }}</span>
                    {% else %}
                         <span class="material-symbols-outlined filled">{{ achievement.icon }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card height-77">
            <div class="card-body mt-1 mb-2 d-flex flex-column align-items-center justify-content-between">
                <div class="mb-3 d-flex flex-column align-items-center ">
                    <h4 class="card-text mt-4 fw-bold mb-1">{{ achievement.description }}</h4>
                    <span class="fw-semibold d-inline-flex align-items-center {{ achievement.difference_type.color }}">
                        <span class="material-symbols-outlined fs-5 me-1">{{ achievement.difference_type.icon }}</span>
                        {{ achievement.difference_to_previous_year }}
                    </span>
                    <span class="fw-normal d-inline-flex align-items-center {{ achievement.difference_type.color }} font-extra-small mt-1">
                        <span class="material-symbols-outlined fs-6 me-1">{{ achievement.difference_type.icon }}</span>
                        {{ achievement.difference_percentage }}
                    </span>
                    <p class="card-title mt-2">{{ achievement.title }}</p>
                </div>
                <button class="btn btn-sm btn-outline-primary d-inline-flex align-items-center border-2 buttonAnnualAchievementModal"
                        data-bs-toggle="modal"
                        data-bs-target="#annual-achievement-modal-{{ index }}">
                    <span class="material-symbols-outlined fs-5">query_stats</span>&nbsp;{{ gettext('Details') }}
                </button>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro annualAchievementModal(idSuffix, workoutType, achievement) -%}
    <div class="modal fade" tabindex="-1" id="annual-achievement-modal-{{ idSuffix }}" data-bs-theme="dark">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content max-height-90">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    {{ workoutMacros.workout_type_icon_small(workoutType, fontSize='fs-3') }}
                    <div class="fs-5 ms-3">
                        {{ workoutType.get_localized_name() }} - {{ achievement.title }}
                    </div>
                </div>
                <div class="modal-body">
                    <div id="annual-achievement-chart-container-{{ idSuffix }}" class="w-100"></div>
                    <div class="row">
                        {{ annualAchievementStatisticCard(gettext('Min'), workoutType, achievement.all_year_data.min) }}
                        {{ annualAchievementStatisticCard(gettext('Max'), workoutType, achievement.all_year_data.max) }}
                        {{ annualAchievementStatisticCard(gettext('Total'), workoutType, achievement.all_year_data.sum) }}
                        {{ annualAchievementStatisticCard(gettext('Average'), workoutType, achievement.all_year_data.average) }}
                    </div>
                </div>
                <div class="modal-footer overflow-y-auto">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro annualAchievementStatisticCard(title, workoutType, value) -%}
    <div class="col-6 mb-3">
        <div class="card bg-body-secondary border-0 h-100" data-bs-theme="dark">
            <div class="card-body">
                <div class="card-title">{{ title }}</div>
                <h5 class="card-title {{ workoutType.text_color }} fw-bold">{{ value }}</h5>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro annualAchievementChart(index, workoutType, achievement) -%}
    <script>
        document.getElementById('annual-achievement-modal-{{ index }}').addEventListener('shown.bs.modal', event =>
        {
            Plotly.newPlot('annual-achievement-chart-container-{{ index }}',
                [
                    {
                        x: {{ achievement.all_year_data.year_names }},
                        y: {{ achievement.all_year_data.values }},
                        type: 'bar',
                        marker: {
                            color: '{{ workoutType.background_color_hex }}'
                        },
                        text: {{ achievement.all_year_data.labels }},
                        insidetextfont: {
                            color: 'black'
                        },
                        insidetextanchor: 'middle',
                        outsidetextfont: {
                            color: 'white'
                        }
                    }
                ],
                {
                    paper_bgcolor: 'rgba(0,0,0,0)',
                    plot_bgcolor: 'rgba(0,0,0,0)',
                    xaxis: {
                        showline: false,
                        showgrid: false,
                        type: 'category',
                        color: '#FFFFFF'
                    },
                    yaxis: {
                        title: '{{ achievement.unit }}',
                        showline: false,
                        zeroline: false,
                        rangemode: 'tozero',
                        tickformat: '.0f',
                        color: '#FFFFFF'
                    },
                    margin: {
                        t: 0,
                        b: 60
                    },
                },
                {
                    responsive: true,
                    displayModeBar: false
                });
        });
    </script>
{%- endmacro %}


<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Annual Statistics') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/achievements.css") }}"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('annualAchievements') }}

        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-5">
                    <div class="col col-12 mx-auto">
                        {% for year in availableYears %}
                            <a href="{{ url_for('annualAchievements.showAnnualAchievementsByYear', year=year) }}" class="btn btn-primary btn-sm {% if year==selectedYear %}btn-secondary{% endif %}">
                                <span class="text-light">{{ year }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                {% set ns = namespace(index = 0) %}
                {% for workoutType, achievements in achievements.items() %}
                    <div class="row mt-3 mb-3">
                        <div class="col col-12 mx-auto">
                            <h3 class="d-flex align-items-center justify-content-center">
                                {{ workoutMacros.workout_type_icon_small(workoutType, classes='me-3') }}
                                <span>{{ workoutType.get_localized_name() }} - {{ selectedYear | string }}</span>
                            </h3>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-5">
                        {% for achievement in achievements %}
                            {% set ns.index = ns.index + 2 %}
                            {{ renderAnnualAchievement(achievement, ns.index) }}
                            {{ annualAchievementModal(ns.index, workoutType, achievement) }}
                            {{ annualAchievementChart(ns.index, workoutType, achievement) }}
                        {% endfor %}
                    </div>

                    <div class="mt-3">&nbsp;</div>
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
