.idea/
settings.json
sportTracker.db
uploads/
data/
testreport.xml
tests/screenshots/
**/node_modules/

**/static/js/libs/*.svg
**/static/js/libs/*.png
**/static/js/libs/*.gif
**/static/js/libs/*libs.js
**/static/js/libs/*.txt
**/static/js/libs/main.css
