<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Planned Tours') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light" style="font-family: sans-serif">
        {{ macros.navbar('plannedTours') }}
        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}
        {% import 'plannedTour/plannedToursMacros.jinja2' as plannedTourMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Planned Tours') +  ' ' + plannedTours|length|string + '/' + totalNumberOfPlannedTours|string, url_for('plannedTours.add')) %}
                            <i class="fa-solid fa-lightbulb fa-fw fs-2"></i>
                        {% endcall %}
                    </div>
                </div>

                <div class="mb-4">
                    {{ macros.workout_type_quick_filter(url_for('plannedTours.listPlannedTours'), true) }}
                </div>

                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mt-3 gap-3 mb-2">
                    <button id="buttonFilter" class="btn btn-sm {% if plannedTourFilterState.is_any_filter_active() %}btn-light{% else %}btn-outline-light{% endif %} d-inline-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
                        <span class="material-symbols-outlined fs-5">filter_alt</span>
                        <span class="ms-2">{{ gettext('Filter') }}</span>
                    </button>
                    <a href="{{ url_for('maps.showAllPlannedToursOnMap') }}" class="btn btn-sm btn-primary d-inline-flex flex-row align-items-center justify-content-center {% if mapMode == 'workouts' %}btn-available-year{% endif %}">
                        <div class="material-symbols-outlined filled fs-5">map</div>&nbsp;{{ gettext('View all on map') }}
                    </a>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="row py-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
                        {% set ns = namespace(index = 0) %}
                        {% for plannedTour in plannedTours %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <div class="card-header mb-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center text-truncate">
                                                {{ workoutMacros.workout_type_icon_small(plannedTour.type, fontSize='fs-3') }}
                                                <div class="fs-5 text-truncate planned-tour-name ps-3 pe-2">
                                                    {{ plannedTour.name | e}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if isGpxPreviewImagesEnabled %}
                                        <a href="{{ url_for('maps.showPlannedTour', tour_id=plannedTour.id or -1) }}">
                                            <img class="img-fluid" src="{{ url_for('gpxTracks.getPreviewImageByPlannedTourId', tour_id=plannedTour.id) }}" alt="">
                                        </a>
                                    {% endif %}

                                    <div class="card-body">
                                        <div class="row row-cols-2 row-cols-lg-4 gy-3">
                                            <div class="col d-flex flex-column align-items-center justify-content-between">
                                                <div class="fs-5">
                                                    {% if plannedTour.gpxMetadata is not none %}
                                                        {{ (plannedTour.gpxMetadata.length / 1000) | format_decimal(2) }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </div>
                                                <div class="fs-6">km</div>
                                            </div>
                                            <div class="col d-flex flex-column align-items-center justify-content-between">
                                                <div class="material-symbols-outlined filled text-secondary fs-4">{{ plannedTour.arrivalMethod.icon }}</div>
                                                <div class="fs-6">{{ gettext('Arrival') }}</div>
                                            </div>
                                            <div class="col d-flex flex-column align-items-center justify-content-between">
                                                <div class="material-symbols-outlined filled text-secondary fs-4">{{ plannedTour.departureMethod.icon }}</div>
                                                <div class="fs-6">{{ gettext('Departure') }}</div>
                                            </div>
                                            <div class="col d-flex flex-column align-items-center justify-content-between">
                                                <div class="material-symbols-outlined filled text-secondary fs-4">{{ plannedTour.direction.icon }}</div>
                                                <div class="fs-6">{{ plannedTour.direction.get_localized_name() }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer text-body-secondary d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            {% if plannedTour.sharedUsers or plannedTour.share_code %}
                                                <div class="badge rounded-pill text-bg-success d-flex align-items-center me-2">
                                                    <div class="material-symbols-outlined filled fs-5">share</div>
                                                    <div class="fs-6 fw-normal">&nbsp;{{ gettext('shared') }}</div>
                                                </div>
                                            {% endif %}

                                            {% if plannedTour.linkedWorkouts %}
                                                <div class="btn btn-orange badge rounded-pill bg-orange text-black d-flex align-items-center me-2"
                                                     data-bs-toggle="modal"
                                                     data-bs-target="#linked-workouts-modal-{{ ns.index }}">
                                                    <div class="fs-6 fw-normal lh-sm">{{ plannedTour.linkedWorkouts|length }} {{ gettext('Workouts') }}</div>
                                                </div>
                                            {% endif %}

                                            {{ gettext('last edited') }}: {{ plannedTour.lastEditDate | format_date() }}
                                        </div>

                                        <div>
                                            {% if not isGpxPreviewImagesEnabled %}
                                                <a href="{{ url_for('maps.showPlannedTour', tour_id=plannedTour.id) }}" class="btn btn-primary d-inline-flex align-items-center me-1">
                                                    <span class="material-symbols-outlined filled text-light fs-5">map</span>
                                                </a>
                                            {% endif %}

                                            <a href="{{ url_for('plannedTours.edit', tour_id=plannedTour.id) }}" class="btn btn-primary d-inline-flex align-items-center">
                                                <span class="material-symbols-outlined filled text-light fs-5">edit</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if plannedTour.linkedWorkouts %}
                                {{ plannedTourMacros.linkedWorkoutsMacro(ns.index, plannedTour) }}
                            {% endif %}
                            {% set ns.index = ns.index + 1 %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" data-bs-theme="light">
                <div class="offcanvas-header pb-2 bg-dark text-white">
                    <h5 class="offcanvas-title mx-auto d-flex flex-row align-items-center justify-content-center">
                        <span class="material-symbols-outlined fs-5">filter_alt</span>
                        <span>{{ gettext('Filter') }}</span>
                    </h5>
                    <button type="button" class="btn-close ms-0" data-bs-dismiss="offcanvas" data-bs-theme="dark"></button>
                </div>
                <div class="offcanvas-body pt-0 bg-dark text-white">
                    {{ plannedTourMacros.plannedTourFilter(plannedTourFilterState, url_for('plannedTours.listPlannedTours')) }}
                </div>
            </div>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
