<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {% if plannedTour %}{{ gettext('Edit Planned Tour') }}{% else %}{{ gettext('New Planned Tour') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('plannedTours') }}

        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}
        {% import 'plannedTour/plannedToursMacros.jinja2' as plannedToursMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if plannedTour %}
                            {% call macros.headline(gettext('Edit Planned Tour')) %}
                                <i class="fa-solid fa-lightbulb fa-fw fs-2"></i>
                            {% endcall %}
                            {% if current_user.id|string == plannedTour.ownerId %}
                                <button id="button-delete" type="button" class="btn btn-danger mt-3 d-flex align-items-center mx-auto button-automatically-disabled" data-bs-toggle="modal" data-bs-target="#delete-modal-0">
                                    <span class="material-symbols-outlined filled text-light">delete</span>&nbsp;{{ gettext('Delete') }}
                                </button>
                            {% endif %}

                            {% call macros.deleteModal(gettext('Delete Planned Tour?'), gettext('Do you really want to delete this planned tour?<br><br>Caution: This will also unlink this planned tour from all assoicated long-distance tours.'), additionalClasses='text-start') %}
                                {{ macros.buttonSubmitAutomaticallyDisabled(classes='btn btn-danger button-delete-modal-action', icon='delete', text=gettext('Delete'), disabledText=gettext('Deleting...'), dataUrl=url_for('plannedTours.delete', tour_id=tour_id)) }}
                            {% endcall %}
                        {% else %}
                            {% call macros.headline(gettext('New Planned Tour')) %}
                                <i class="fa-solid fa-lightbulb fa-fw fs-2"></i>
                            {% endcall %}
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="{% if plannedTour %}{{ url_for('plannedTours.editPost', tour_id=tour_id) }}{% else %}{{ url_for('plannedTours.addPost') }}{% endif %}"
                              method="post"
                              onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                              enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="planned-tour-type" class="form-label input-field-margin">{{ gettext('Type') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined filled me-3">stars</span>
                                    <select class="form-select" id="planned-tour-type" name="type" required="required" {% if plannedTour %}disabled{% endif %}>
                                        {% for workoutType in distanceWorkoutTypes %}
                                            <option value="{{ workoutType.name }}" {% if plannedTour and plannedTour.type == workoutType.name %}selected{% endif %}>{{ workoutType.get_localized_name() }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if plannedTour %}
                                        <input type="hidden" name="type" value="{{ plannedTour.type }}">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-group">
                                    <label for="planned-tour-name" class="form-label input-field-margin">{{ gettext('Name') }}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="material-symbols-outlined filled me-3">edit</span>
                                        <input type="text" class="form-control" id="planned-tour-name"
                                               name="name" required="required"
                                               {% if plannedTour %}value="{{ plannedTour.name | e }}"{% endif %}>
                                    </div>
                                </div>
                            </div>
                            {% set selectedArrivaMethod=None %}
                            {% if plannedTour %}
                                {% set selectedArrivaMethod=plannedTour.arrivalMethod.name %}
                            {% endif %}
                            {{ plannedToursMacros.radio_button_select(gettext('Arrival method'), 'arrow_forward', 'arrival-method', 'arrivalMethod', travelTypes, selectedArrivaMethod) }}

                            {% set selectedDepartureMethod=None %}
                            {% if plannedTour %}
                                {% set selectedDepartureMethod=plannedTour.departureMethod.name %}
                            {% endif %}
                            {{ plannedToursMacros.radio_button_select(gettext('Departure method'), 'arrow_back', 'departure-method', 'departureMethod', travelTypes, selectedDepartureMethod) }}

                            {% set selectedDirection=None %}
                            {% if plannedTour %}
                                {% set selectedDirection=plannedTour.direction.name %}
                            {% endif %}
                            {{ plannedToursMacros.radio_button_select(gettext('Direction'), 'directions', 'direction', 'direction', travelDirections, selectedDirection) }}

                            {{ workoutMacros.form_gpx(plannedTour, url_for('maps.showPlannedTour', tour_id=tour_id or -1), url_for('gpxTracks.downloadGpxTrackByPlannedTourId', tour_id=tour_id or -1, file_format='gpx'), url_for('gpxTracks.downloadGpxTrackByPlannedTourId', tour_id=tour_id or -1, file_format='fit'), url_for('gpxTracks.deleteGpxTrackByPlannedTourId', tour_id=tour_id or -1), gettext('No GPX or FIT file is linked to this planned tour'), gettext('A GPX or FIT file is linked to this planned tour') ) }}

                            {{ plannedToursMacros.planned_tour_form_shared_users(plannedTour, users)}}

                            {{ workoutMacros.form_share_link(plannedTour, 'maps.showSharedPlannedTour', 'plannedTours.createShareCode')}}

                            {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-5 input-field-margin', id='buttonSavePlannedTour') }}
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
