<mat-grid-list [cols]="breakpoint" rowHeight="2:1">
  <mat-grid-tile>
    <button mat-flat-button color="primary" class="btn" routerLink="/rights">
      <h2>My Rights</h2>
      <p>Explication de My Rights</p>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button color="primary" class="btn" routerLink="/requests">
      <h2>Requests</h2>
      <p>Explication de Requests</p>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button color="primary" class="btn" routerLink="/consent">
      <h2>Consent</h2>
      <p>Explication de Consent</p>
    </button>
  </mat-grid-tile>
</mat-grid-list>
