<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Long-distance Tours') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light" style="font-family: sans-serif">
        {{ macros.navbar('longDistanceTours') }}
        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Long-distance Tours'), url_for('longDistanceTours.add')) %}
                            <i class="material-symbols-outlined fs-2">laps</i>
                        {% endcall %}
                    </div>
                </div>

                <div class="mb-4">
                    {{ macros.workout_type_quick_filter(url_for('longDistanceTours.listLongDistanceTours'), true) }}
                </div>

                <div class="row py-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
                    {% set ns = namespace(index = 0) %}
                    {% for longDistanceTour in longDistanceTours %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="card-header mb-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center text-truncate">
                                            {{ workoutMacros.workout_type_icon_small(longDistanceTour.type, fontSize='fs-3') }}
                                            <div class="fs-5 text-truncate long-distance-tour-name ps-3 pe-2">
                                                {{ longDistanceTour.name | e}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if isGpxPreviewImagesEnabled %}
                                    <a href="{{ url_for('maps.showLongDistanceTour', tour_id=longDistanceTour.id or -1) }}">
                                        <img class="img-fluid" src="{{ url_for('gpxTracks.getPreviewImageByLongDistanceTourId', tour_id=longDistanceTour.id) }}" alt="">
                                    </a>
                                {% endif %}

                                <div class="card-body">
                                    <div class="row row-cols-2 gy-3">
                                        <div class="col d-flex flex-column align-items-center justify-content-between">
                                            <div class="fs-5 long-distance-tour-card-number-of-stages">
                                                {{ longDistanceTour.get_number_of_completed_stages() }} / {{ longDistanceTour.linkedPlannedTours|length }}
                                            </div>
                                            <div class="fs-6">{{ gettext('Stages') }}</div>
                                        </div>

                                        <div class="col d-flex flex-column align-items-center justify-content-between">
                                            <div class="fs-5">
                                                {{ (longDistanceTour.get_completed_distance() / 1000) | format_decimal(1) }} / {{ (longDistanceTour.get_total_distance() / 1000) | format_decimal(1) }}
                                            </div>
                                            <div class="fs-6">km</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-body-secondary d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        {% if longDistanceTour.sharedUsers %}
                                            <div class="badge rounded-pill text-bg-success d-flex align-items-center me-2">
                                                <div class="material-symbols-outlined filled fs-5">share</div>
                                                <div class="fs-6 fw-normal">&nbsp;{{ gettext('shared') }}</div>
                                            </div>
                                        {% endif %}

                                        {{ gettext('last edited') }}: {{ longDistanceTour.lastEditDate | format_date() }}
                                    </div>

                                    <div>
                                        {% if not isGpxPreviewImagesEnabled %}
                                            <a href="{{ url_for('maps.showLongDistanceTour', tour_id=longDistanceTour.id) }}" class="btn btn-primary d-inline-flex align-items-center me-1">
                                                <span class="material-symbols-outlined filled text-light fs-5">map</span>
                                            </a>
                                        {% endif %}

                                        <a href="{{ url_for('longDistanceTours.edit', tour_id=longDistanceTour.id) }}" class="btn btn-primary d-inline-flex align-items-center">
                                            <span class="material-symbols-outlined filled text-light fs-5">edit</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
