.elevation-control .background {
    background-color: var(--bs-white) !important;
}

.custom-theme.elevation-control .area path.altitude,
.custom-theme .legend-altitude rect.area {
    fill: var(--bs-warning);
    fill-opacity: 0.8;
    stroke: var(--bs-dark);
    stroke-width: 2;
    stroke-opacity: 0.8;
}

.custom-theme.elevation-control .area path.speed,
.custom-theme .legend-speed rect.area {
    fill: var(--bs-info);
    fill-opacity: 1;
    stroke: var(--bs-dark);
    stroke-width: 2;
    stroke-opacity: 0.8;
}

.elevation-control .tooltip {
    opacity: 1;
}

.elevation-summary {
    display: flex;
    justify-content: space-evenly;
}

.elevation-summary .summarylabel {
    font-weight: bold;
}

.elevation-summary .summaryvalue {
    display: inline-block;
    font-weight: normal !important;
}

.leaflet-control-layers-toggle {
    display: none !important;
}

.easy-button-button i {
    margin-top: 0.15rem;
}

.custom-theme.elevation-polyline {
    stroke: var(--bs-primary);
}