.timeline-with-icons {
    border-left: 5px solid var(--bs-dark-bg-subtle);
    position: relative;
    list-style: none;
    margin-bottom: 0;
}

.timeline-with-icons.timeline-dashed {
    border-left: 5px dashed var(--bs-dark-bg-subtle);
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -51px;
    background-color: var(--bs-dark-bg-subtle);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button-hide[aria-expanded="true"] {
    display: none !important;
}