<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Charts')) %}
                            <span class="material-symbols-outlined filled fs-1">leaderboard</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartDistancePerMonth') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Month') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartDistancePerYear') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Year') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartAverageSpeed') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">show_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Average Speed') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartDistancePerCustomFieldChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">pie_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Custom Field') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartDistancePerParticipantChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">pie_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Participant') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartDurationPerWorkoutChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Duration per Workout') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartSpeedPerWorkoutChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Speed per Workout') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartDurationPerMonth') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Duration per Month') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartMostPerformedWorkoutsChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Most performed workouts') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartNewTilesPerYear') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Number of new visited tiles per year') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartHeatmap', y_axis='weekdays') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">background_grid_small</div>
                            <div class="fs-3 text-light">{{ gettext('Heatmap Weekdays') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartHeatmap', y_axis='months') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">background_grid_small</div>
                            <div class="fs-3 text-light">{{ gettext('Heatmap Months') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartAccumulatedDistance') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">show_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Total Distance per Day') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('charts.chartAccumulatedDistancePerMonth') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined filled rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">show_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Total Distance by Month') }}</div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
