{% import 'chart/chartMacros.jinja2' as chartMacros with context %}
{% call chartMacros.chart(chartTitle) %}
     const data = [
        {
            labels: {{ chartDistancePerParticipantData['keys'] }},
            values: {{ chartDistancePerParticipantData['values'] }},
            type: 'pie',
            text: {{ chartDistancePerParticipantData['values'] }}
        },
    ];

    const plotlyLayout = {
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        xaxis: {
            type: 'category',
            color: '#FFFFFF'
        },
        yaxis: {
            title: {
                text: '{{ gettext('Distance in km') }}',
            },
            rangemode: 'tozero',
            tickformat: '.0f',
            showline: true,
            color: '#FFFFFF'
        },
        barmode: 'group',
        legend: {
            font: {
                color: '#FFFFFF'
            }
        }
    }

    const plotlyConfig = {
        responsive: true,
        displayModeBar: false
    };

    Plotly.newPlot('chartContainer', data, plotlyLayout, plotlyConfig);
{% endcall %}