<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Total Distance by Month') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}

        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Total Distance by Month')) %}
                            <span class="material-symbols-outlined fs-1">show_chart</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col col-12 mx-auto">
                        <h3 class="mb-4">{{ selectedMonthDate }}</h3>

                        <a href="{{ url_for('charts.chartAccumulatedDistancePerMonth', year=currentMonthDate.year, month=currentMonthDate.month) }}"
                           class="btn btn-primary text-light d-inline-flex flex-row align-items-center justify-content-center"
                           id="month-select"
                           data-bs-toggle="modal"
                           data-bs-target="#modalYearSelect">
                            <i class="fa-solid fa-calendar-days fs-5"></i><span class="ms-2">{{ gettext('Select Year & Month') }}</span>
                        </a>
                    </div>
                </div>

                {{ workoutMacros.month_select(url_for('charts.chartAccumulatedDistancePerMonth')) }}

                <div id="chartContainer"></div>
            </section>
        </div>

        {{ macros.scripts() }}
        <script>
            const data = [
                {% for entry in chartDataAccumulatedDistancePerMonth %}
                    {
                        x: {{ entry['days'] }},
                        y: {{ entry['values'] }},
                        type: 'scatter',
                        line: {
                            color: '{{ entry.type.background_color_hex }}',
                            width: 8,
                            shape: 'linear',
                        },
                        text: {{ entry['texts'] }},
                        name: '{{ entry.type.name | capitalize }}'
                    },
                {% endfor %}
            ];

            const plotlyLayout = {
                paper_bgcolor: 'rgba(0,0,0,0)',
                plot_bgcolor: 'rgba(0,0,0,0)',
                xaxis: {
                    {#type: 'category',#}
                    color: '#FFFFFF',
                    automargin: true,
                    showgrid: true,
                    rangemode: 'tozero',
                },
                yaxis: {
                    title: {
                        text: '{{ gettext('Total distance in km') }}',
                    },
                    rangemode: 'tozero',
                    tickformat: '.0f',
                    showline: true,
                    showgrid: false,
                    color: '#FFFFFF',
                },
                legend: {
                    font: {
                        color: '#FFFFFF'
                    }
                }
            }

            const plotlyConfig = {
                responsive: true,
                displayModeBar: false
            };

            Plotly.newPlot('chartContainer', data, plotlyLayout, plotlyConfig);
        </script>
        <script defer src="{{ url_for('static', filename='js/monthSelect.js') }}" type="text/javascript"></script>
    </body>
</html>
