{% import 'chart/chartMacros.jinja2' as chartMacros with context %}
{% call chartMacros.chart(chartTitle) %}
     const data = [
        {
            x: {{ chartDataDurationPerWorkout['dates'] }},
            y: {{ chartDataDurationPerWorkout['values'] }},
            type: 'bar',
            marker: {
                color: '{{ chartDataDurationPerWorkout.type.background_color_hex }}'
            },
            name: '{{ chartDataDurationPerWorkout.type.name | capitalize }}',
            text: {{ chartDataDurationPerWorkout['texts'] }}
        },
    ];

    const plotlyLayout = {
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        xaxis: {
            type: 'category',
            color: '#FFFFFF',
            automargin: true
        },
        yaxis: {
            title: {
                text: '{{ gettext('Duration in s') }}',
            },
            rangemode: 'tozero',
            tickformat: '.0f',
            showline: true,
            color: '#FFFFFF',
            range: [{{ chartDataDurationPerWorkout.min }}, {{ chartDataDurationPerWorkout.max }}]
        },
        barmode: 'group',
        legend: {
            font: {
                color: '#FFFFFF'
            }
        }
    }

    const plotlyConfig = {
        responsive: true,
        displayModeBar: false
    };

    Plotly.newPlot('chartContainer', data, plotlyLayout, plotlyConfig);
{% endcall %}