<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}
        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Charts')) %}
                            <span class="material-symbols-outlined filled fs-1">leaderboard</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
                        <h3>{{ gettext('Choose workout by name') }}</h3>
                        <p>{{ gettext('Note: Only names with at least two workouts are listed') }}</p>

                        {% for workoutType, workoutNames in workoutNamesByWorkoutType.items() %}
                            <div class="row mt-5 mb-3">
                                <div class="col col-12 mx-auto">
                                    <h3 class="d-flex align-items-center justify-content-center">
                                        {{ workoutMacros.workout_type_icon_small(workoutType, classes='me-3') }}
                                        <span class="me-3">{{ workoutType.get_localized_name() }}</span>
                                    </h3>
                                </div>
                            </div>

                            <div class="list-group text-start">
                                {% for workoutName in workoutNames %}
                                    <a href="{{ url_for('charts.chartSpeedPerWorkout', workout_type=workoutType.name, workout_id=workoutName.id) }}"
                                       class="list-group-item list-group-item-action d-flex justify-content-between fw-bold">
                                        {{ workoutName.name | e}}
                                        <span class="material-symbols-outlined filled text-primary">send</span>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
