{% macro render_maintenance_event(maintenance, maintenanceEvent) -%}
    {% if maintenanceEvent.id is none %}
        <span class="timeline-icon">
                <i class="fa-solid fa-calendar-day text-secondary fa-sm fa-fw fs-5 p-2"></i>
            </span>

        <div class="d-flex align-items-center">
            <div class="fw-bold fs-5">{{ gettext('Today') }}</div>
            {% if maintenance.isLimitExceeded %}
                <div class="d-flex align-items-center badge text-bg-danger ms-3">
                    <span class="material-symbols-outlined filled fs-5 me-1">warning</span>
                    <span>{{ maintenance.limitExceededDistance // 1000 }} km {{ gettext('over limit') }}</span>
                </div>
            {% endif %}
        </div>
    {% else %}
        <span class="timeline-icon">
            <i class="fa-solid fa-wrench text-secondary fa-sm fa-fw fs-5 p-2"></i>
        </span>

        <div class="d-flex align-items-center">
            <div class="fw-bold fs-5">{{ maintenanceEvent.eventDate | format_date() }}</div>
            <a href="{{ url_for('maintenanceEventInstances.edit', event_id=maintenanceEvent.id) }}" class="btn btn-sm d-inline-flex align-items-center ms-2">
                <span class="material-symbols-outlined filled text-primary fs-5">edit</span>
            </a>
        </div>
    {% endif %}
{%- endmacro %}

{% macro maintenanceFilterCustomWorkoutField(maintenanceFilterState) -%}
    <div class="text-nowrap mb-2 w-100">
        <select class="form-select w-100" id="customWorkoutFieldId" name="customWorkoutFieldId">
            <option class="maintenance-event-custom-field-select-placeholder"></option>

            {% for workoutType, customFields in customFieldsByWorkoutType.items() %}
                {% for field in customFields %}
                    <option value="{{ field.custom_field.id }}" data-workout-type="{{ workoutType.name }}">{{ workoutType.get_localized_name() }}: {{ field.custom_field.name | e }}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>

    <div class="text-nowrap mb-2 w-100">
        <label class="form-label" for="customWorkoutFieldValue">
            <span>{{ gettext('Value:') }}</span>
        </label>

        <select class="form-select w-100" id="customWorkoutFieldValue" name="customWorkoutFieldValue">
            {% for workoutType, customFields in customFieldsByWorkoutType.items() %}
                {% for field in customFields %}
                    {% for value in field.values %}
                        <option value="{{ value | e }}" data-workout-type="{{ workoutType.name }}" data-field-id="{{ field.custom_field.id }}">{{ value | e }}</option>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </select>
    </div>
{%- endmacro %}
