<!DOCTYPE html>

<html>
    <head>
        {% set isEdit = false %}
        {% if maintenance and maintenance.id is not none %}
            {% set isEdit = true %}
        {% endif %}

        <meta charset="UTF-8">
        <title>SportTracker - {% if isEdit %}{{ gettext('Edit Maintenance') }}{% else %}
            {{ gettext('New Maintenance') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('maintenance') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if isEdit %}
                            {% call macros.headline(gettext('Edit Maintenance')) %}
                                <i class="fa-solid fa-wrench fa-fw fs-2"></i>
                            {% endcall %}
                            <button type="button" class="btn btn-danger mt-3 d-flex align-items-center mx-auto button-automatically-disabled" data-bs-toggle="modal" data-bs-target="#delete-modal-0">
                                <span class="material-symbols-outlined filled text-light">delete</span>&nbsp;{{ gettext('Delete') }}
                            </button>

                            {% call macros.deleteModal(gettext('Delete Maintenance?'), gettext('Do you really want to delete this maintenance and all associated maintenance events?')) %}
                                {{ macros.buttonSubmitAutomaticallyDisabled(classes='btn btn-danger button-delete-modal-action', icon='delete', text=gettext('Delete'), disabledText=gettext('Deleting...'), dataUrl=url_for('maintenances.delete', maintenance_id=maintenance_id)) }}
                            {% endcall %}
                        {% else %}
                            {% call macros.headline(gettext('New Maintenance')) %}
                                <i class="fa-solid fa-wrench fa-fw fs-2"></i>
                            {% endcall %}
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="{% if isEdit %}{{ url_for('maintenances.editPost', maintenance_id=maintenance_id) }}{% else %}{{ url_for('maintenances.addPost') }}{% endif %}"
                              onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                              method="post">
                            <div class="mb-3">
                                <label for="maintenance-event-type" class="form-label input-field-margin">{{ gettext('Type') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined filled me-3">stars</span>
                                    <select class="form-select" id="maintenance-event-type" name="type" required="required">
                                        {% for workoutType in workoutTypes %}
                                            <option value="{{ workoutType.name }}"
                                                    {% if maintenance and maintenance.type == workoutType.name %}selected{% endif %}>{{ workoutType.get_localized_name() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-group">
                                    <label for="maintenance-event-description" class="form-label input-field-margin">{{ gettext('Description') }}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="material-symbols-outlined filled me-3">article</span>
                                        <input type="text" class="form-control" id="maintenance-event-description"
                                               name="description" required="required"
                                               {% if maintenance %}value="{{ maintenance.description | e }}"{% endif %}>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="maintenance-event-custom-field" class="form-label input-field-margin">{{ gettext('Filter by custom workout field') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined me-3">filter_alt</span>
                                    <select class="form-select" id="maintenance-event-custom-field" name="custom_field_id">
                                        <option class="maintenance-event-custom-field-select-placeholder"></option>

                                        {% for workoutType, customFields in customFieldsByWorkoutType.items() %}
                                            {% for field in customFields %}
                                                <option value="{{ field.custom_field.id }}" data-workout-type="{{ workoutType.name }}">{{ field.custom_field.name | e }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                    <label for="maintenance-event-custom-field-value" class="form-label"></label>
                                    <select class="form-select ms-3" id="maintenance-event-custom-field-value" name="custom_field_value">
                                        {% for workoutType, customFields in customFieldsByWorkoutType.items() %}
                                            {% for field in customFields %}
                                                {% for value in field.values %}
                                                    <option value="{{ value | e }}" data-workout-type="{{ workoutType.name }}" data-field-id="{{ field.custom_field.id }}">{{ value | e }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 mt-5" id="maintenance-event-reminder-container">
                                <label for="maintenance-event-reminder" class="form-label">
                                    <div class="d-flex align-items-center">
                                        <span class="material-symbols-outlined filled me-3">notifications</span>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   {% if maintenance and maintenance.is_reminder_active %}checked{% endif %}
                                                   id="maintenance-event-reminder-checkbox"
                                                   name="is_reminder_active">
                                            <label class="form-check-label" for="maintenance-event-reminder-checkbox">
                                                {{ gettext('Activate Reminder') }}
                                            </label>
                                        </div>
                                    </div>
                                </label>

                                <div class="input-field-margin {% if not maintenance or not maintenance.is_reminder_active %} hidden{% endif %}" id="maintenance-event-reminder">
                                    <label for="maintenance-event-reminder-limit" class="form-label">{{ gettext('Limit (in km)') }}</label>
                                    <input type="number" class="form-control" id="maintenance-event-reminder-limit"
                                           step="1" min="0"
                                           name="reminder_limit"
                                           value="{% if maintenance and maintenance.reminder_limit is not none %}{{ maintenance.reminder_limit }}{% else %}100{% endif %}">

                                    <div class="row mt-3">
                                        <div class="col col-12 mx-auto d-flex align-items-center justify-content-start">
                                            <span class="material-symbols-outlined fs-4 me-2">info</span>
                                            <span>{{ gettext('Notifications can be configured in the ') }}
                                                <a href="{{ url_for('settings.settingsShow') }}" target="_blank">{{ gettext('Settings') }}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-5 input-field-margin', id='buttonSaveLongDistanceTour') }}
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
        <script>
            initialCustomFieldId = '{% if maintenance and maintenance.custom_field_id is not none %}{{ maintenance.custom_field_id }}{% endif %}';
            initialCustomFieldValue = '{% if maintenance and maintenance.custom_field_value is not none %}{{ maintenance.custom_field_value }}{% endif %}';
        </script>
        <script defer src="{{ url_for('static', filename='js/maintenancesCommon.js') }}" type="text/javascript"></script>
        <script defer src="{{ url_for('static', filename='js/maintenancesForm.js') }}" type="text/javascript"></script>
    </body>
</html>
