<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Users') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('users') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Users'), url_for('users.add')) %}
                            <span class="material-symbols-outlined filled fs-1">groups</span>
                        {% endcall %}
                    </div>
                </div>

                {% for user in users %}
                    <div class="row py-3">
                        <div class="col col-lg-6 col-md-8 mx-auto">
                            <a href="{{ url_for('users.edit', user_id=user.id) }}" class="text-decoration-none">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title text-truncate">{{ user.username | e }}</h2>
                                        {% if user.isAdmin %}
                                            ({{ gettext('Administrator') }})
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
