<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {% if user %}{{ gettext('Edit User') }}{% else %}{{ gettext('New User') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('users') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if user %}
                            {% call macros.headline(gettext('Edit User')) %}
                                <span class="material-symbols-outlined filled fs-1">groups</span>
                            {% endcall %}
                            {% if not user.isAdmin %}
                                <button type="button" class="btn btn-danger mt-3 d-flex align-items-center mx-auto" data-bs-toggle="modal" data-bs-target="#delete-modal-0">
                                    <span class="material-symbols-outlined filled text-light">delete</span>&nbsp;{{ gettext('Delete') }}
                                </button>

                                {% call macros.deleteModal(gettext('Delete User?'), gettext('Do you really want to delete the user "%(user)s" (ID: %(id)d)?', user=user.username | e, id=user_id)) %}
                                    {{ macros.buttonSubmitAutomaticallyDisabled(classes='btn btn-danger button-delete-modal-action', icon='delete', text=gettext('Delete'), disabledText=gettext('Deleting...'), dataUrl= url_for('users.delete', user_id=user_id)) }}
                                {% endcall %}
                            {% endif %}
                        {% else %}
                             {% call macros.headline(gettext('New User')) %}
                                <span class="material-symbols-outlined filled fs-1">groups</span>
                            {% endcall %}
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        {% if errorMessage %}
                            <div class="alert alert-danger" role="alert">
                                {{ errorMessage }}
                            </div>
                        {% endif %}

                        <form role="form" action="{% if user %}{{ url_for('users.editPost', user_id=user_id) }}{% else %}{{ url_for('users.addPost') }}{% endif %}"
                              onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                              method="post">

                            <div class="mb-3">
                                <label for="user-name" class="form-label input-field-margin">{{ gettext('Username') }}</label>
                                <div class="d-flex align-items-center">
                                        <span class="material-symbols-outlined filled me-3">person</span>
                                    <input type="text" class="form-control"
                                           id="user-name" name="username"
                                           required="required" {% if user %}value="{{ user.username | e }}"{% endif %}>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="user-password" class="form-label input-field-margin">{{ gettext('Password') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined filled me-3">vpn_key</span>
                                    <input type="password" class="form-control" id="user-password"
                                           name="password" required="required">
                                </div>
                            </div>

                            {% if user %}
                                <input type="hidden" name="old_username" value="{{ user.username }}">
                            {% endif %}

                            {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-5 input-field-margin') }}
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
