<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Map') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('map') }}

        <div class="align-middle d-flex flex-column align-items-center justify-content-center mx-5 mt-5">
            <span class="material-symbols-outlined filled fs-1 mb-3 text-danger" id="errorIcon">error</span>
            <h3>{{ errorText }}</h3>

            <a href="/" class="btn btn-primary mt-5 d-flex align-items-center">
                <span class="material-symbols-outlined filled">home</span>&nbsp;{{ gettext('Home') }}
            </a>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
