<!DOCTYPE html>

{% macro render_workout_unit(unit) -%}
    <div class="fs-6 d-lg-none">{{ unit }}</div>
    <span class="d-none d-lg-inline">{{ unit }}</span>
{%- endmacro %}

{% macro render_workout_speed_kmh(workout, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">speed</span>
        {% if workout.duration is none or workout.duration == 0 %}
            <div class="fs-5">--.- km/h</div>
        {% else %}
            <div class="fs-5 text-center">{{ (workout.distance / workout.duration * 3.6) | round(1) | format_decimal }} {{ render_workout_unit('km/h') }}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_workout_speed_pace(workout, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">speed</span>
        {% if workout.duration is none %}
            <div class="fs-5">--.-- min</div>
        {% else %}
            <div class="fs-5 text-center">{{ workout | format_pace }} {{ render_workout_unit('min') }}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_workout_distance(workout, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">route</span>
        <div class="fs-5 text-center">{{ (workout.distance / 1000) | format_decimal(2) }} {{ render_workout_unit('km') }}</div>
    </div>
{%- endmacro %}

{% macro render_workout_duration(workout, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">timer</span>
        <div class="fs-5 text-center">{{ workout.duration | format_duration }} {{ render_workout_unit('h') }}</div>
    </div>
{%- endmacro %}

{% macro render_workout_average_heart_rate(workout, renderAsRow) -%}
    {% if workout.average_heart_rate is not none %}
        <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
            <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">favorite_border</span>
            <div class="fs-5 text-center">{{ workout.average_heart_rate }} {{ render_workout_unit('bpm') }}</div>
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_workout_elevation(workout, renderAsRow) -%}
    {% if workout.elevation_sum is not none %}
        <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
            <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">expand</span>
            <div class="fs-5 text-center">{{ workout.elevation_sum }} {{ render_workout_unit('m') }}</div>
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_fitness_workout_type(workout, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">{{ workout.fitness_workout_type.icon }}</span>
        <div class="fs-5 text-center">{{ render_workout_unit(workout.fitness_workout_type.get_localized_short_name()) }}</div>
    </div>
{%- endmacro %}

{% macro render_fitness_workout_category_type(workout, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        {% if workout.fitness_workout_categories|length == 1 %}
            <span class="material-symbols-outlined {% if not workout.fitness_workout_categories[0].is_outlined_icon %}filled{% endif %} fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">{{ workout.fitness_workout_categories[0].icon }}</span>
            <div class="fs-5 text-center">{{ render_workout_unit(workout.fitness_workout_categories[0].get_localized_name()) }}</div>
        {% elif workout.fitness_workout_categories|length > 1 %}
            <span class="material-symbols-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">fitness_center</span>
            <div class="fs-5 text-center">{{ render_workout_unit(gettext('Mixed')) }}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro workout_type_icon_non_responsive(workoutType, classes='') -%}
    {% if workoutType.is_easter_egg_activated() %}
        <div class="d-inline-block rounded-circle p-3 {{ workoutType.background_color }} {{ classes }}">
            <img class="workout-type-icon-easter-egg fs-1" src="{{ url_for('static', filename="images/easterEggs/" + workoutType.name.lower() + "_easter_egg.svg") }}"/>
        </div>
    {% elif workoutType.is_font_awesome_icon %}
        <i class="d-inline-block fa-solid {{ workoutType.icon }} fa-fw rounded-circle fs-1 p-3 text-dark {{ workoutType.background_color }} {{ classes }}"></i>
    {% else %}
        <span class="d-inline-block material-symbols-outlined rounded-circle fs-1 p-3 text-dark {{ workoutType.background_color }} {{ classes }}">{{ workoutType.icon }}</span>
    {% endif %}
{%- endmacro %}

{% macro workout_type_icon(workoutType, classes='') -%}
    {% if workoutType.is_easter_egg_activated() %}
        <div class="d-none d-lg-inline-block rounded-circle p-3 {{ workoutType.background_color }} {{ classes }}">
            <img class="workout-type-icon-easter-egg fs-1" src="{{ url_for('static', filename="images/easterEggs/" + workoutType.name.lower() + "_easter_egg.svg") }}"/>
        </div>
        <div class="d-lg-none d-inline-block rounded-circle p-2 {{ workoutType.background_color }} {{ classes }}">
            <img class="workout-type-icon-easter-egg fs-2" src="{{ url_for('static', filename="images/easterEggs/" + workoutType.name.lower() + "_easter_egg.svg") }}"/>
        </div>
    {% elif workoutType.is_font_awesome_icon %}
        <i class="d-none d-lg-inline-block fa-solid {{ workoutType.icon }} fa-fw rounded-circle fs-1 p-3 text-dark {{ workoutType.background_color }} {{ classes }}"></i>
        <i class="d-lg-none fa-solid {{ workoutType.icon }} fa-fw rounded-circle fs-3 p-2 text-dark {{ workoutType.background_color }} {{ classes }}"></i>
    {% else %}
        <span class="d-none d-lg-inline-block material-symbols-outlined rounded-circle fs-1 p-3 text-dark {{ workoutType.background_color }} {{ classes }}">{{ workoutType.icon }}</span>
        <span class="d-lg-none material-symbols-outlined rounded-circle fs-3 p-2 text-dark {{ workoutType.background_color }} {{ classes }}">{{ workoutType.icon }}</span>
    {% endif %}
{%- endmacro %}

{% macro workout_type_icon_small(workoutType, fontSize='fs-2', classes='', backgroundColorOverride='') -%}
    {% if workoutType.is_easter_egg_activated() %}
        <div class="rounded-circle p-2
                {% if backgroundColorOverride %}{{ backgroundColorOverride }}{% else %}{{ workoutType.background_color }}{% endif %} d-flex align-items-center {{ classes }}">
            <img class="workout-type-icon-easter-egg {{ fontSize }}" src="{{ url_for('static', filename="images/easterEggs/" + workoutType.name.lower() + "_easter_egg.svg") }}"/>
        </div>
    {% elif workoutType.is_font_awesome_icon %}
        <i class="fa-solid {{ workoutType.icon }} fa-fw rounded-circle {{ fontSize }} p-2 text-dark
                {% if backgroundColorOverride %}{{ backgroundColorOverride }}{% else %}{{ workoutType.background_color }}{% endif %} {{ classes }}"></i>
    {% else %}
        <span class="material-symbols-outlined rounded-circle {{ fontSize }} p-2 text-dark
                {% if backgroundColorOverride %}{{ backgroundColorOverride }}{% else %}{{ workoutType.background_color }}{% endif %} {{ classes }}">{{ workoutType.icon }}</span>
    {% endif %}
{%- endmacro %}

{% macro workout_card_feature_icons(workout) -%}
    <div class="z-2 d-flex">
        {% if workout.share_code %}
            <span class="material-symbols-outlined filled fs-4 text-body">share</span>
        {% endif %}
        {% if workout.participants %}
            <span class="material-symbols-outlined filled fs-4 text-body ms-2">group</span>
        {% endif %}
        {% if workout.has_heart_rate_data() %}
            <a href="#" class="text-decoration-none ms-2 button-heart-rate-modal" data-url="{{ url_for('workouts.getHeartRateData', workout_id=workout.id) }}" data-workout-id="{{ workout.id }}">
                <span class="material-symbols-outlined filled fs-4 text-body">ecg</span>
            </a>
        {% endif %}
        {% if workout.gpx_metadata is not undefined and workout.gpx_metadata is not none %}
            <a href="{{ url_for('maps.showSingleWorkout', workout_id=workout.id) }}"
               class="text-decoration-none ms-2">
                <span class="material-symbols-outlined filled fs-4 text-body">map</span>
            </a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro workout_heart_rate_modal(workout) -%}
    <div class="modal fade" tabindex="-1" id="heart-rate-modal-{{ workout.id }}" data-bs-theme="dark">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content max-height-90">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    {{ workout_type_icon_small(workout.type, fontSize='fs-3') }}
                    <div class="fs-5 ms-3">
                        {{ workout.start_time | format_date }} - {{ workout.name }}
                    </div>
                </div>
                <div class="modal-body">
                    <div id="heart-rate-modal-progress-spinner-{{ workout.id }}" class="d-flex align-items-center justify-content-center">
                        <span class="spinner-border me-1"></span>
                        <span class="fs-5 ms-3">{{ gettext('Loading heart rate data...') }}</span>
                    </div>

                    <div id="heart-rate-chart-container-{{ workout.id }}" class="w-100"></div>

                    <div class="row" id="heart-rate-modal-statistics-{{ workout.id }}">
                        <div class="col-6 col-md-4 mb-3">
                            <div class="card bg-body-secondary border-0 h-100" data-bs-theme="dark">
                                <div class="card-body">
                                    <div class="card-title">{{ gettext('Min') }}</div>
                                    <h5 class="card-title text-danger fw-bold" id="heart-rate-modal-min-{{ workout.id }}" ></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 mb-3">
                            <div class="card bg-body-secondary border-0 h-100" data-bs-theme="dark">
                                <div class="card-body">
                                    <div class="card-title">{{ gettext('Max') }}</div>
                                    <h5 class="card-title text-danger fw-bold" id="heart-rate-modal-max-{{ workout.id }}" ></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 mx-auto mb-3">
                            <div class="card bg-body-secondary border-0 h-100" data-bs-theme="dark">
                                <div class="card-body">
                                    <div class="card-title">{{ gettext('Average') }}</div>
                                    <h5 class="card-title text-danger fw-bold" id="heart-rate-modal-average-{{ workout.id }}" ></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer overflow-y-auto">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro render_distance_workout_card(workout, renderAsRow=false, useSmallIcon=false) -%}
    <div class="row py-2">
        <div class="col col-12 mx-auto">
            <div class="card">
                <div class="row g-0">
                    <div class="col col-3 col-md-3 d-flex flex-column align-items-center justify-content-center my-3 ps-1">
                        {% if useSmallIcon %}
                            {{ workout_type_icon_small(workout.type) }}
                        {% else %}
                            {{ workout_type_icon(workout.type) }}
                        {% endif %}
                        <div class="fs-6 text-body text-start mt-2 d-lg-none">{{ workout.start_time | format_date }}</div>
                        <div class="fs-5 text-body text-start mt-2 d-none d-lg-block">{{ workout.start_time | format_date }}</div>
                    </div>

                    <div class="col col-9 col-md-9">
                        <div class="card-body ps-1 ps-md-3 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="card-title text-truncate text-start">{{ workout.name | e }}</h4>

                                {{ workout_card_feature_icons(workout) }}
                            </div>

                            <div class="d-flex align-items-center justify-content-around me-1 me-md-3">
                                {% if is_workout_info_item_activated('DISTANCE') %}
                                    {{ render_workout_distance(workout, renderAsRow) }}
                                {% endif %}

                                {% if is_workout_info_item_activated('DURATION') %}
                                    {{ render_workout_duration(workout, renderAsRow) }}
                                {% endif %}

                                {% if is_workout_info_item_activated('SPEED') %}
                                    {% if workout.type.render_speed_in_kph %}
                                        {{ render_workout_speed_kmh(workout, renderAsRow) }}
                                    {% else %}
                                        {{ render_workout_speed_pace(workout, renderAsRow) }}
                                    {% endif %}
                                {% endif %}

                                {% if is_workout_info_item_activated('AVERAGE_HEART_RATE') %}
                                    {{ render_workout_average_heart_rate(workout, renderAsRow) }}
                                {% endif %}

                                {% if is_workout_info_item_activated('ELEVATION_SUM') %}
                                    {{ render_workout_elevation(workout, renderAsRow) }}
                                {% endif %}
                            </div>
                        </div>

                        <a href="{{ url_for('distanceWorkouts.edit', workout_id=workout.id) }}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if workout.has_heart_rate_data() %}
        {{ workout_heart_rate_modal(workout) }}
    {% endif %}
{%- endmacro %}

{% macro render_fitness_workout_card(workout, renderAsRow=false, useSmallIcon=false) -%}
    <div class="row py-2">
        <div class="col col-12 mx-auto">
            <div class="card">
                <div class="row g-0">
                    <div class="col col-3 col-md-3 d-flex flex-column align-items-center justify-content-center my-3 ps-1">
                        {% if useSmallIcon %}
                            {{ workout_type_icon_small(workout.type) }}
                        {% else %}
                            {{ workout_type_icon(workout.type) }}
                        {% endif %}
                        <div class="fs-6 text-body text-start mt-2 d-lg-none">{{ workout.start_time | format_date }}</div>
                        <div class="fs-5 text-body text-start mt-2 d-none d-lg-block">{{ workout.start_time | format_date }}</div>
                    </div>

                    <div class="col col-9 col-md-9">
                        <div class="card-body ps-1 ps-md-3 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="card-title text-truncate text-start">{{ workout.name | e }}</h4>

                                {{ workout_card_feature_icons(workout) }}
                            </div>

                            <div class="d-flex align-items-center justify-content-around me-1 me-md-3">
                                {{ render_workout_duration(workout, renderAsRow) }}

                                {{ render_fitness_workout_type(workout, renderAsRow) }}

                                {{ render_fitness_workout_category_type(workout, renderAsRow) }}

                                {{ render_workout_average_heart_rate(workout, renderAsRow) }}
                            </div>
                        </div>

                        <a href="{{ url_for('fitnessWorkouts.edit', workout_id=workout.id) }}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if workout.has_heart_rate_data() %}
        {{ workout_heart_rate_modal(workout) }}
    {% endif %}
{%- endmacro %}

{% macro render_month(monthModel) -%}
    <div class="px-xxl-5 px-xl-4 px-lg-3">
        <h3 class="mt-4">{{ monthModel.name }}</h3>
        <div class="py-2">
            {% for goal in monthModel.goals %}
                <div class="row">
                    <div class="col col-12 mx-auto">
                        <div class="row d-flex align-items-center">
                            <div class="col col-12 d-flex align-items-center">
                                {% if goal.type.is_font_awesome_icon %}
                                    <i class="fa-solid {{ goal.type.icon }} fa-fw fs-5 py-1 text-light"></i>
                                {% else %}
                                    <span class="material-symbols-outlined fs-5 py-1 text-light">{{ goal.type.icon }}</span>
                                {% endif %}
                                <span class="me-3 text-end"
                                      style="white-space: nowrap; width: 4.75rem;">{{ goal.get_actual_value_formatted() }}</span>
                                <div class="d-inline-block" style="width: 100%; height: 100%;">
                                    {{ monthGoalsMacros.render_month_goal_progress_bar(goal) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for entry in monthModel.entries %}
            {% if entry.__class__.__name__ == 'DistanceWorkoutModel' %}
                {{ render_distance_workout_card(entry) }}
            {% elif entry.__class__.__name__ == 'FitnessWorkoutModel' %}
                {{ render_fitness_workout_card(entry) }}
            {% elif entry.__class__.__name__ == 'MaintenanceEvent' %}
                {{ render_maintenance_event_card(entry) }}
            {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro workout_form_name(workout, workoutNames) -%}
    <div class="mb-3">
        <div class="form-group">
            <label for="workout-name" class="form-label input-field-margin">{{ gettext('Name') }}</label>
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined filled me-3">edit</span>
                <input type="text" class="form-control" id="workout-name" name="name"
                       required="required" {% if workout %}value="{{ workout.name | e }}"{% endif %}
                       data-datalist="list-workout-names">
                <datalist id="list-workout-names">
                    {% for workoutName in workoutNames %}
                        <option>{{ workoutName | e }}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro workout_form_start_time(workout, workoutFromFitImport) -%}
    <div class="mb-3">
        <div class="row">
            <div class="col col-12 col-md-6 mb-3 mb-md-0">
                <label for="workout-date" class="form-label input-field-margin">{{ gettext('Date') }}</label>
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined filled me-3">event</span>
                    <input type="date" class="form-control" id="workout-date" name="date"
                           required="required" value="{% if workout %}{{ workout.date }}{% elif workoutFromFitImport %}{{ workoutFromFitImport.date }}{% endif %}">
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <label for="workout-time" class="form-label input-field-margin">{{ gettext('Start Time') }}</label>
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined me-3">schedule</span>
                    <input type="time" class="form-control" id="workout-time" name="time"
                           required="required" value="{% if workout %}{{ workout.time }}{% elif workoutFromFitImport %}{{ workoutFromFitImport.time }}{% endif %}">
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro workout_form_distance(workout, workoutFromFitImport) -%}
    <div class="mb-3">
        <label for="workout-distance" class="form-label input-field-margin">{{ gettext('Distance (in km)') }}</label>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-3">route</span>
            <input type="number" step="0.01" min="0" class="form-control" id="workout-distance"
                   name="distance" required="required"
                   value="{% if workout %}{{ workout.distance | round(2) }}{% elif workoutFromFitImport %}{{ workoutFromFitImport.distance | round(2) }}{% endif %}">
        </div>
    </div>
{%- endmacro %}

{% macro workout_form_duration(workout, workoutFromFitImport) -%}
    <label for="workout-duration-hours" class="form-label input-field-margin">{{ gettext('Duration') }}</label>
    <div class="mb-3 d-flex align-items-center">
        <span class="material-symbols-outlined me-3">timer</span>

        <input type="number" step="1" min="0" class="form-control me-3"
               id="workout-duration-hours" name="duration_hours"
               placeholder="{{ gettext('Hours') }}"
               required="required"
               value="{% if workout %}{{ workout.duration_hours }}{% elif workoutFromFitImport %}{{ workoutFromFitImport.duration_hours }}{% endif %}">

        <label for="workout-duration-minutes" class="form-label">&nbsp;</label>
        <input type="number" step="1" min="0" max="59" class="form-control me-3"
               id="workout-duration-minutes" name="duration_minutes"
               placeholder="{{ gettext('Minutes') }}" required="required"
               value="{% if workout %}{{ workout.duration_minutes }}{% elif workoutFromFitImport %}{{ workoutFromFitImport.duration_minutes }}{% endif %}">

        <label for="workout-duration-seconds" class="form-label">&nbsp;</label>
        <input type="number" step="1" min="0" max="59" class="form-control"
               id="workout-duration-seconds" name="duration_seconds"
               placeholder="{{ gettext('Seconds') }}" required="required"
               value="{% if workout %}{{ workout.duration_seconds }}{% elif workoutFromFitImport %}{{ workoutFromFitImport.duration_seconds }}{% endif %}">
    </div>
{%- endmacro %}

{% macro workout_form_average_heart_rate(workout, workoutFromFitImport) -%}
    <div class="mb-3">
        <label for="workout-averageHeartRate" class="form-label input-field-margin">{{ gettext('Average Heart Rate') }}</label>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-3">favorite_border</span>
            <input type="number" step="1" min="0" class="form-control" id="workout-averageHeartRate"
                   name="average_heart_rate"
                   {% if workout and workout.average_heart_rate is not none %}value="{{ workout.average_heart_rate }}"{% endif %}
                   {% if workoutFromFitImport and workoutFromFitImport.average_heart_rate is not none %}value="{{ workoutFromFitImport.average_heart_rate }}"{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro workout_form_elevation_sum(workout, workoutFromFitImport) -%}
    <div class="mb-3">
        <label for="workout-elevationSum" class="form-label input-field-margin">{{ gettext('Elevation Sum (in m)') }}</label>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-3">expand</span>
            <input type="number" step="1" min="0" class="form-control" id="workout-elevationSum"
                   name="elevation_sum"
                   {% if workout and workout.elevation_sum is not none %}value="{{ workout.elevation_sum }}"{% endif %}
                   {% if workoutFromFitImport and workoutFromFitImport.elevation_sum is not none %}value="{{ workoutFromFitImport.elevation_sum }}"{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro workout_form_gpx(workout, workoutFromFitImport, workout_id) -%}
    {% if workoutFromFitImport %}
        {{ form_gpx(workoutFromFitImport, '', '', '', '', '', gettext('A FIT file is linked to this workout'), true) }}
        <input type="hidden" name="fit_file_name" value="{{ workoutFromFitImport.gpx_file_name }}">
    {% else %}
        {{ form_gpx(workout, url_for('maps.showSingleWorkout', workout_id=workout_id or -1 ), url_for('gpxTracks.downloadGpxTrackByWorkoutId', workout_id=workout_id  or -1, file_format='gpx'), url_for('gpxTracks.downloadGpxTrackByWorkoutId', workout_id=workout_id  or -1, file_format='fit'), url_for('gpxTracks.deleteGpxTrackByWorkoutId', workout_id=workout_id or -1), gettext('No GPX or FIT file is linked to this workout'), gettext('A GPX or FIT file is linked to this workout'), false) }}
        <input type="hidden" name="fit_file_name" value="">
    {% endif %}
{%- endmacro %}


{% macro form_gpx(item, mapUrl, downloadUrlGpx, downloadUrlFit, deleteUrl, placeholderText, gpxFileLinkedText, suppressButtons=false) -%}
    <div class="mb-3">
        <label for="workout-gpxFileName" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined filled me-3">location_on</span>
                <span>{{ gettext('GPX/FIT Track') }}</span>
            </div>
        </label>

        {% set hasGpxTrack = item and item.gpx_file_name is not none %}

        <div class="input-field-margin">
            {% if item is defined %}
                <div class="d-flex flex-column flex-md-row mb-3 {% if not hasGpxTrack %}hidden{% endif %}" id="gpxControlsEnabled">
                    <span class="badge bg-success lh-lg rounded-pill d-flex align-items-center px-3 text-wrap">{{ gpxFileLinkedText }}</span>
                    {% if suppressButtons is not true %}
                        <div id="gpxButtons" class="d-flex mt-3 mt-md-0">
                        <a href="{{ mapUrl }}"
                           class="btn btn-primary btn-sm ms-0 ms-md-3 d-flex align-items-center"
                           target="_blank">
                            <span class="material-symbols-outlined filled fs-4">map</span>
                        </a>
                        <a href="{{ downloadUrlGpx }}"
                           class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
                           id="buttonGpxTrackDownload"
                           target="_blank">
                            <span class="material-symbols-outlined fs-4">download</span>
                            <span>GPX</span>
                        </a>
                        {% if hasGpxTrack and item.has_fit_file %}
                            <a href="{{ downloadUrlFit }}"
                               class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
                               id="buttonFitTrackDownload"
                               target="_blank">
                                <span class="material-symbols-outlined fs-4">download</span>
                                <span>FIT</span>
                            </a>
                        {% endif %}

                        <button type="button" class="btn btn-danger btn-sm ms-3 d-flex align-items-center button-automatically-disabled" data-bs-toggle="modal" data-bs-target="#delete-modal-gpx">
                            <span class="material-symbols-outlined filled fs-4">delete</span>
                        </button>

                        {% call macros.deleteModal(gettext('Delete GPX and FIT Track?'), gettext('Do you really want to delete this associated GPX and FIT file?'), 'gpx') %}
                            {{ macros.buttonSubmitAutomaticallyDisabled(type="button", classes='btn btn-danger', icon='delete', text=gettext('Delete'), disabledText=gettext('Deleting...'), dataUrl=deleteUrl, id='buttonGpxTrackDelete', dismissModal=true) }}
                        {% endcall %}
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="{% if hasGpxTrack %}hidden{% endif %}" id="gpxControlsDisabled">
                <span class="mb-3 badge bg-secondary lh-lg rounded-pill px-3 text-wrap">{{ placeholderText }}</span>
            </div>
            <input class="form-control" type="file" id="workout-gpxFileName" name="gpxTrack" accept=".gpx,.fit" {% if suppressButtons %}disabled{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro workout_form_participants(workout, participants) -%}
    <div class="mb-3">
        <label for="workout-participants" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined filled me-3">group</span>
                <span>{{ gettext('Participants') }}</span>
            </div>
        </label>
        {% for participant in participants %}
            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" {% if workout and participant.id|string in workout.participants %}checked{% endif %} id="participant-{{ participant.id }}" name="participants" value="{{ participant.id }}">
                <label class="form-check-label" for="participant-{{ participant.id }}">
                    {{ participant.name | e}}
                </label>
            </div>
        {% endfor %}

        {% if not participants %}
            <div class="d-flex align-items-center input-field-margin">
                <span class="material-symbols-outlined fs-4 me-2">info</span>
                <span>{{ gettext('Add participants in the ') }}
                    <a href="{{ url_for('settings.settingsShow') }}#headline-participants">
                        {{ gettext('Settings') }}
                       </a>
                </span>
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro workout_form_custom_field_input(field) -%}
    {% set escapedName=field.custom_field.get_escaped_name() %}
    <div class="mb-3">
        <label for="workout-{{ escapedName }}" class="form-label input-field-margin">{{ field.custom_field.name | e}}</label>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined filled me-3">drive_file_rename_outline</span>

            {% if field.custom_field.type.name == 'STRING' %}
                <input type="text"
                       class="form-control"
                       id="workout-{{ escapedName }}"
                       name="{{ field.custom_field.name }}"
                       {% if workout and workout.model_extra[field.custom_field.name] is not none %}value="{{ workout.model_extra[field.custom_field.name] }}"{% endif %}
                        {% if field.custom_field.is_required %} required="required"{% endif %}
                       data-datalist="list-workout-custom-field-{{ escapedName }}"
                >

            {% elif field.custom_field.type.name == 'INTEGER' %}
                <input type="number"
                       step="1"
                       min="0"
                       class="form-control"
                       id="workout-{{ escapedName }}"
                       name="{{ field.custom_field.name }}"
                       {% if workout and workout.model_extra[field.custom_field.name] is not none %}value="{{ workout.model_extra[field.custom_field.name] }}"{% endif %}
                        {% if field.custom_field.is_required %} required="required"{% endif %}
                       data-datalist="list-workout-custom-field-{{ escapedName }}"
                >
            {% elif field.custom_field.type.name == 'FLOAT' %}
                <input type="number"
                       step="0.01"
                       min="0"
                       class="form-control"
                       id="workout-{{ escapedName }}"
                       name="{{ field.custom_field.name }}"
                       {% if workout and workout.model_extra[field.custom_field.name] is not none %}value="{{ workout.model_extra[field.custom_field.name] }}"{% endif %}
                        {% if field.custom_field.is_required %} required="required"{% endif %}
                       data-datalist="list-workout-custom-field-{{ escapedName }}"
                >
            {% endif %}

            <datalist id="list-workout-custom-field-{{ escapedName }}">
                {% for value in field.values %}
                    <option>{{ value | e }}</option>
                {% endfor %}
            </datalist>
        </div>

        <script>
            Autocomplete.init('#workout-{{ escapedName }}', {
                'fullWidth': true,
                'highlightTyped': true,
                'suggestionsThreshold': 1,
            });
        </script>
    </div>
{%- endmacro %}

{% macro form_share_link(item, mapUrl, createUrl) -%}
    <div class="mb-3">
        <label for="workout-participants" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined me-3">link</span>
                <span>{{ gettext('Share via link') }}</span>
            </div>
        </label>

        {% set hasShareCode = item and item.share_code is not none %}

        <div class="input-field-margin">
            <div class="d-flex flex-column flex-md-row mb-3 {% if not hasShareCode %}hidden{% endif %}" id="sharedLinkControlsEnabled">
                {% if hasShareCode %}
                    <a href="{{ url_for(mapUrl, shareCode=item.share_code, _external=True) }}" class="btn btn-sm btn-secondary text-break" id="sharedLink">{{ url_for(mapUrl, shareCode=item.share_code, _external=True) }}</a>
                {% else %}
                    <a class="btn btn-sm btn-secondary text-break" id="sharedLink"></a>
                {% endif %}
                <div id="sharedLinkButtons" class="d-flex mt-3 mt-md-0">
                    <a class="btn btn-primary btn-sm ms-0 ms-md-3 d-flex align-items-center" id="buttonCopySharedLink" data-bs-toggle="tooltip" data-bs-title="{{ gettext('Copied') }}">
                        <span class="material-symbols-outlined fs-4">content_copy</span>
                    </a>

                    <button type="button" class="btn btn-danger btn-sm ms-3 d-flex align-items-center button-automatically-disabled" data-bs-toggle="modal" data-bs-target="#delete-modal-shared-link" id="buttonSharedLinkDeleteModal">
                        <span class="material-symbols-outlined filled fs-4">delete</span>
                    </button>

                    {% call macros.deleteModal(gettext('Delete shared link?'), gettext('Do you really want to delete this shared link?'), 'shared-link') %}
                        <a class="btn btn-danger d-flex align-items-center" id="buttonSharedLinkDelete" data-bs-dismiss="modal"><span class="material-symbols-outlined filled text-light">delete</span>&nbsp;{{ gettext('Delete') }}</a>
                    {% endcall %}
                </div>
            </div>

            <button type="button" class="{% if hasShareCode %}hidden{% endif %} btn btn-primary btn-sm d-flex align-items-center button-automatically-disabled" id="buttonCreateSharedLink" data-url="{{ url_for(createUrl) }}">
                <span class="material-symbols-outlined fs-4 me-2">add_link</span>{{ gettext('Create link') }}
            </button>

            <input type="hidden" name="share_code" value="{% if hasShareCode %}{{ item.share_code }}{% endif %}">
        </div>

    </div>
{%- endmacro %}

{% macro form_linked_planned_tour(workout, plannedTours) -%}
    <div class="mb-3">
        <label for="workout-plannedTour" class="form-label input-field-margin">{{ gettext('Based on Planned Tour') }}</label>
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-lightbulb fa-fw fs-4 me-3"></i>
            <select class="form-select" id="workout-plannedTour" name="planned_tour_id">
                <option value="-1"
                        {% if not workout %} selected{% endif %}>{{ gettext('Not based on a Planned Tour') }}</option>
                {% for plannedTour in plannedTours %}
                    <option value="{{ plannedTour.id }}" {% if workout and workout.planned_tour_id != '-1' and workout.planned_tour_id == plannedTour.id|string %}selected{% endif %}>{{ plannedTour.name | e }} {% if current_user.id != plannedTour.user_id %}({{ gettext('shared by ') }} {{ plannedTour.get_owner_name() | e }}){% endif %}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{%- endmacro %}

{% macro render_maintenance_event_card(event) -%}
    <div class="row py-2">
        <div class="col col-12 mx-auto">
            <div class="card border-0">
                <div class="row g-0 border-start border-danger border-10 rounded-start">
                    <div class="col col-3 d-flex flex-row align-items-center justify-content-center margin-maintenance">
                        {{ workout_type_icon_small(event.type, 'fs-3') }}
                    </div>

                    <div class="col col-9">
                        <div class="card-body ps-1 ps-md-3 d-flex justify-content-between">
                            <div class="d-flex align-items-center text-truncate">
                                <div class="card-title text-start mb-0 fs-6 me-3 d-lg-none">{{ event.event_date | format_date }}</div>
                                <div class="card-title text-start mb-0 fs-5 me-5 d-none d-lg-block">{{ event.event_date | format_date }}</div>
                                <div class="text-truncate fs-6 d-lg-none">{{ event.description | e }}</div>
                                <div class="text-truncate fs-5 d-none d-lg-block">{{ event.description | e }}</div>
                            </div>
                            <i class="fa-solid fa-wrench fa-fw fs-3 text-secondary"></i>
                        </div>

                        <a href="{{ url_for('maintenanceEventInstances.edit', event_id=event.id) }}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro check_button_select(name, icon, identifier, inputName, availableTypes, selectedValues, baseIdentifier='planned-tour') -%}
    <div class="mb-3">
        <div class="form-label input-field-margin">{{ name }}</div>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined filled me-3">{{ icon }}</span>
            <div class="btn-group" role="group" id="{{ baseIdentifier }}-{{ identifier }}">
                {% for availableType in availableTypes %}
                    <input type="checkbox" class="btn-check" name="{{ inputName }}" id="{{ identifier }}-{{ loop.index }}"
                           autocomplete="off"
                           {% if availableType in selectedValues %}checked{% endif %}
                           value="{{ availableType.name }}">
                    <label class="btn btn-outline-light btn-outline-purple d-flex flex-column flex-sm-row align-items-center"
                           for="{{ identifier }}-{{ loop.index }}">
                        <span class="material-symbols-outlined {% if not availableType.is_outlined_icon %}filled{% endif %} me-0 me-sm-3">{{ availableType.icon }}</span>
                        {{ availableType.get_localized_name() }}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro month_select(baseUrl)-%}
    <div class="modal fade" id="modalYearSelect" tabindex="-1" data-url="{{ baseUrl }}" data-bs-theme="dark">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="headline-years">{{ gettext('Choose year') }}</h1>
                </div>
                <div class="modal-body">
                    <div class="row" id="years">
                        {% for availableYear in availableYears %}
                            <div class="col col-6 col-md-4 text-center py-4 btn btn-dark btn-select-year" data-year="{{ availableYear }}" data-bs-toggle="modal" data-bs-target="#modalMonthSelect">
                                <h3 class="mb-0">{{ availableYear }}</h3>
                            </div>
                        {%  endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMonthSelect" tabindex="-1" data-url="{{ baseUrl }}">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="headline-months">{{ gettext('Choose month') }}</h1>
                </div>
                <div class="modal-body">
                    <div class="row" id="months">
                        {% for monthName in monthNames %}
                            <div class="col col-6 col-md-4 text-center py-4 btn btn-dark btn-select-month" data-month="{{ loop.index }}">
                                <h4 class="mb-0">{{ monthName }}</h4>
                            </div>
                        {%  endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro  %}