<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Workouts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('workouts') }}

        {% import 'monthGoal/monthGoalsMacros.jinja2' as monthGoalsMacros with context %}
        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="pt-5 px-4 px-sm-5 text-center">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="{{ url_for('workouts.listWorkouts', year=previousMonthDate.year, month=previousMonthDate.month) }}"
                               class="text-decoration-none text-light me-3"
                               id="month-select-previous">
                                <span class="material-symbols-outlined fs-1">chevron_left</span>
                            </a>
                            {% call macros.headline(gettext('Workouts'), url_for('workouts.add')) %}
                                <img class="headline-icon-svg" src="{{ url_for('static', filename="images/icon_workouts.svg") }}" />
                            {% endcall %}
                            <a href="{{ url_for('workouts.listWorkouts', year=nextMonthDate.year, month=nextMonthDate.month) }}"
                               class="text-decoration-none text-light ms-3"
                               id="month-select-next">

                                <span class="material-symbols-outlined fs-1">chevron_right</span>
                            </a>
                            <a href="{{ url_for('workouts.listWorkouts', year=currentMonthDate.year, month=currentMonthDate.month) }}"
                               class="text-decoration-none text-light ms-2"
                               id="month-select"
                               data-bs-toggle="modal"
                               data-bs-target="#modalYearSelect">
                                <i class="fa-solid fa-calendar-days fs-3"></i>
                            </a>
                            <a href="{{ url_for('workouts.listWorkouts', year=currentMonthDate.year, month=currentMonthDate.month) }}"
                               class="text-decoration-none text-light ms-3"
                               id="month-select-current">
                                <i class="fa-solid fa-calendar-day fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-none d-lg-block">
                    <div class="col col-12 mx-auto d-flex align-items-center justify-content-center">
                        <span class="material-symbols-outlined fs-4 me-2">info</span>
                        <span>{{ gettext('Toggle months via arrow keys or press "0" for current month') }}</span>
                    </div>
                </div>

                <div class="row mt-2 d-lg-none">
                    <div class="col col-12 mx-auto d-flex align-items-center justify-content-center">
                        <span class="material-symbols-outlined fs-4 me-2">info</span>
                        <span>{{ gettext('Toggle months by swiping left or right') }}</span>
                    </div>
                </div>

                <div class="mt-3">
                    {{ macros.workout_type_quick_filter(url_for('workouts.listWorkouts', year=year, month=month), false) }}
                </div>

                <div class="row px-xxl-5 px-xl-4 px-lg-3">
                    <div class="col col-lg-6 col-sm-12 px-xxl-5 px-xl-4 px-lg-3 d-none d-lg-block">
                        {{ workoutMacros.render_month(monthLeftSide) }}
                    </div>
                    <div class="col col-lg-6 col-sm-12 px-xxl-5 px-xl-4 px-lg-3">
                        {{ workoutMacros.render_month(monthRightSide) }}
                    </div>
                </div>
            </section>
        </div>

        {{ workoutMacros.month_select(url_for('workouts.listWorkouts')) }}

        {{ macros.scripts() }}
        <script defer src="{{ url_for('static', filename='js/monthSelect.js') }}" type="text/javascript"></script>
        <script defer src="{{ url_for('static', filename='js/workouts.js') }}" type="text/javascript"></script>
        <script defer src="{{ url_for('static', filename='js/heartRateModal.js') }}" type="text/javascript"></script>
    </body>
</html>
