<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('New Workout') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('workouts') }}
        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('New Workout')) %}
                            <img class="headline-icon-svg" src="{{ url_for('static', filename="images/icon_workouts.svg") }}"/>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('workouts.addType', workout_type='BIKING') }}"
                           class="btn btn-link text-decoration-none">
                            {{ workoutMacros.workout_type_icon_non_responsive(workoutTypesByName['BIKING'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Biking Workout') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('workouts.addType', workout_type='RUNNING') }}"
                           class="btn btn-link text-decoration-none">
                            {{ workoutMacros.workout_type_icon_non_responsive(workoutTypesByName['RUNNING'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Running Workout') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('workouts.addType', workout_type='HIKING') }}"
                           class="btn btn-link text-decoration-none">
                            {{ workoutMacros.workout_type_icon_non_responsive(workoutTypesByName['HIKING'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Hiking Workout') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('workouts.addType', workout_type='FITNESS') }}"
                           class="btn btn-link text-decoration-none">
                            {{ workoutMacros.workout_type_icon_non_responsive(workoutTypesByName['FITNESS'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Fitness Workout') }}</div>
                        </a>
                    </div>

                    <div class="col col-12 col-md-6 mb-5">
                        <a class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalImportFromFitFile">
                            <span class="d-inline-block material-symbols-outlined rounded-circle fs-1 p-3 text-white bg-secondary mb-3">upload_file</span>
                            <div class="fs-3 text-light">{{ gettext('Import from FIT file') }}</div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div class="modal fade" id="modalImportFromFitFile" tabindex="-1" aria-labelledby="modalImportFromFitFileLabel" aria-hidden="true" data-bs-theme="dark">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <form role="form" action="{{ url_for('distanceWorkouts.importFromFitFilePost') }}"
                          method="post"
                          id="formImportFromFitFile"
                          enctype=multipart/form-data>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalImportFromFitFileLabel">{{ gettext('Import from FIT file') }}</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">{{ gettext('Upload FIT file') }}</label>
                                <input class="form-control" type="file" id="formFile" name="fitFile" accept=".fit">
                            </div>

                            <div class="mb-3 text-center text-danger hidden" id="warningMessageContainerImportFromFitFile">
                                <i class="material-symbols-outlined filled align-middle">warning</i>
                                <span id="warning-message" class="align-middle"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="buttonCancelImportFromFitFile" data-bs-dismiss="modal">{{ gettext('Cancel') }}</button>
                            <button type="button" class="btn btn-primary" id="buttonImportFromFitFile" data-url="{{ url_for('distanceWorkouts.importFromFitFileGet') }}">
                                <span class="spinner-border spinner-border-sm hidden" aria-hidden="true"></span>
                                {{ gettext('Import') }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {{ macros.scripts() }}
    </body>
</html>
