<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {% if field %}{{ gettext('Edit Custom Workout Field') }}{% else %}
            {{ gettext('New Custom Workout Field') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('settings') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if field %}
                            {% call macros.headline(gettext('Edit Custom Workout Field')) %}
                                <span class="material-symbols-outlined filled fs-1">drive_file_rename_outline</span>
                            {% endcall %}
                        {% else %}
                            {% call macros.headline(gettext('New Custom Workout Field')) %}
                                <span class="material-symbols-outlined filled fs-1">drive_file_rename_outline</span>
                            {% endcall %}
                        {% endif %}
                    </div>
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger mt-3 d-inline-block" role="alert">
                                <div class="d-flex align-items-center">
                                    <i class="material-symbols-outlined filled">warning</i>
                                    <div class="ms-3">{{ message }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="
                                {% if field %}{{ url_for('settings.customFieldsEditPost', field_id=field_id) }}{% else %}{{ url_for('settings.customFieldsAddPost') }}{% endif %}"
                              onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                              method="post">

                            <input type="hidden" class="form-control" id="field-workout-type" name="workout_type" value="{% if field %}{{ field.workout_type }}{% else %}{{ workoutType.name }}{% endif %}">

                            <div class="mb-3">
                                <label for="field-name" class="form-label input-field-margin">{{ gettext('Name') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined filled me-3">edit</span>
                                    <input type="text" class="form-control" id="field-name" name="name"
                                           required="required" {% if field %}value="{{ field.name | e }}"{% endif %}>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="field-type" class="form-label input-field-margin">{{ gettext('Type') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined me-3">list</span>
                                    <select class="form-select" id="field-type" name="type" required="required">
                                        {% for fieldType in customWorkoutFieldTypes %}
                                            <option value="{{ fieldType.name }}" {% if field and field.type == fieldType.name %}selected{% endif %}>{{ fieldType.get_localized_name() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined me-3">question_mark</span>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" {% if field and field.is_required %}checked{% endif %} id="field-is-required" name="is_required">
                                        <label class="form-check-label" for="field-is-required">
                                            {{ gettext('Is required') }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-5 input-field-margin') }}
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
