<!DOCTYPE html>

{% macro settings_general() -%}
    <div class="row mt-3 text-start">
        <div class="col col-11 col-md-9 mx-auto">
            {% if errorMessage %}
                <div class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>
            {% endif %}

            <form role="form" action="{{ url_for('settings.editSelfPost') }}" method="post"
                  onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);">
                <div class="mb-4">
                    <label for="user-password" class="form-label input-field-margin">{{ gettext('Password') }}</label>
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined filled me-3">vpn_key</span>
                        <input type="password" class="form-control" id="user-password"
                               name="password" required="required">
                    </div>
                </div>

                {{ macros.buttonSubmitAutomaticallyDisabled(classes='input-field-margin') }}
            </form>

            <form role="form" action="{{ url_for('settings.editSelfLanguagePost') }}" method="post"
                  onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                  class="mt-5">
                <div class="mb-4">
                    <label for="user-language" class="form-label input-field-margin">{{ gettext('Language') }}</label>
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined filled me-3">translate</span>
                        <select class="form-select" id="user-language" name="language" required="required">
                            {% for language in languages %}
                                <option value="{{ language.name }}" {% if userLanguage == language.name %}selected{% endif %}>{{ language.localized_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {{ macros.buttonSubmitAutomaticallyDisabled(classes='input-field-margin') }}
            </form>
        </div>
    </div>
{%- endmacro %}

{% macro settings_tileHunting() -%}
    <div class="row mt-5 text-start">
        <div class="col col-11 col-md-9 mx-auto">
            {% call macros.headline(gettext('Tile Hunting'), '', 'fs-3') %}
                <span class="material-symbols-outlined fs-2">explore</span>
            {% endcall %}

            <form role="form" action="{{ url_for('settings.editSelfTileHunting') }}" method="post"
                  onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                  class="mt-5">
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined me-3">explore</span>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   id="isTileHuntingActivated"
                                   name="isTileHuntingActivated"
                                   {% if current_user.isTileHuntingActivated %}checked{% endif %}/>
                            <label class="form-check-label" for="isTileHuntingActivated">{{ gettext('Activate tile hunting map and statistics') }}</label>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <span class="material-symbols-outlined filled me-3">link</span>
                        <div class="d-flex flex-column">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       id="isTileHuntingAccessActivated"
                                       name="isTileHuntingAccessActivated"
                                       {% if current_user.isTileHuntingAccessActivated %}checked{% endif %}/>
                                <label class="form-check-label" for="isTileHuntingAccessActivated">{{ gettext('Allow access to your tile hunting map without login (Generated link will be shown after saving)') }}</label>
                            </div>
                            <div class="d-flex flex-column flex-md-row my-3 {% if not current_user.tileHuntingShareCode %}hidden{% endif %}">
                                <a id="sharedLink" class="btn btn-sm btn-secondary text-break disabled opacity-100">{{ tileRenderUrl | safe }}</a>
                                <div id="sharedLinkButtons" class="d-flex mt-3 mt-md-0">
                                    <a class="btn btn-primary btn-sm ms-0 ms-md-3 d-flex align-items-center" id="buttonCopySharedLink" data-bs-toggle="tooltip" data-bs-title="{{ gettext('Copied') }}">
                                        <span class="material-symbols-outlined fs-4">content_copy</span>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center ">
                                <span class="material-symbols-outlined fs-4 me-2">info</span>
                                <span>{{ gettext('This link can be used to add an overlay to OpenStreetMap based maps, e.g. https://bikerouter.de/ to plan your next tile hunting route.') }}</span>
                            </div>
                            <div class="form-check input-field-margin mt-3">
                                <input class="form-check-input" type="checkbox"
                                       id="isTileHuntingShowPlannedTilesActivated"
                                       name="isTileHuntingShowPlannedTilesActivated"
                                       {% if current_user.isTileHuntingShowPlannedTilesActivated %}checked{% endif %}/>
                                <label class="form-check-label" for="isTileHuntingShowPlannedTilesActivated">{{ gettext('Show planned tiles') }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                {{ macros.buttonSubmitAutomaticallyDisabled(classes='input-field-margin') }}
            </form>
        </div>
    </div>
{%- endmacro %}

{% macro settings_customFields() -%}
    <div class="row mt-5 text-start">
        <div class="col col-11 col-md-9 mx-auto">
            {% call macros.headline(gettext('Custom Workout Fields'), '', 'fs-3') %}
                <span class="material-symbols-outlined filled fs-2">drive_file_rename_outline</span>
            {% endcall %}

            {% for workoutType, customFields in customFieldsByWorkoutType.items() %}
                <div class="row mt-5 mb-3">
                    <div class="col col-12 mx-auto">
                        <h3 class="d-flex align-items-center justify-content-center">
                            {{ workoutMacros.workout_type_icon_small(workoutType, classes='me-3') }}
                            <span class="me-3">{{ workoutType.get_localized_name() }}</span>
                            <a href="{{ url_for('settings.customFieldsAdd', workout_type=workoutType.name) }}"
                               class="link-light text-decoration-none d-inline-flex align-items-center">
                                <span class="rounded-circle bg-primary p-1 fs-3 material-symbols-outlined filled">add</span>
                            </a>
                        </h3>
                    </div>
                </div>

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">{{ gettext('Name') }}</th>
                            <th scope="col">{{ gettext('Type') }}</th>
                            <th scope="col">{{ gettext('Is Required') }}</th>
                            <th scope="col">{{ gettext('Action') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in customFields %}
                            <tr>
                                <td>{{ field.custom_field.name | e }}</td>
                                <td>{{ field.custom_field.type.get_localized_name() }}</td>
                                <td>{{ field.custom_field.is_required }}</td>
                                <td>
                                    <a href="{{ url_for('settings.customFieldsEdit', field_id=field.custom_field.id) }}"
                                       class="link-light text-decoration-none">
                                        <span class="p-1 fs-5 material-symbols-outlined filled">edit</span>
                                    </a>
                                    <a href=""
                                       class="link-light text-decoration-none"
                                       data-bs-toggle="modal" data-bs-target="#delete-modal-{{ field.custom_field.id }}">
                                        <span class="p-1 fs-5 material-symbols-outlined filled">delete</span>
                                    </a>

                                    {% call macros.deleteModal(gettext('Delete Custom Field?'), gettext('Do you really want to delete the custom field "%(name)s"?<br><br>The custom field will also be removed from all maintenances that use this field as a filter.', name=field.custom_field.name), field.custom_field.id) %}
                                        {{ macros.buttonSubmitAutomaticallyDisabled(classes='btn btn-danger button-delete-modal-action', icon='delete', text=gettext('Delete'), disabledText=gettext('Deleting...'), dataUrl=url_for('settings.customFieldsDelete', field_id=field.custom_field.id)) }}
                                    {% endcall %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}

{% macro settings_participants() -%}
    <div class="row mt-5 text-start">
        <div class="col col-11 col-md-9 mx-auto">
            <div class="row mb-3">
                <div class="col col-12 mx-auto">
                    {% call macros.headline(gettext('Participants'), url_for('settings.participantsAdd'), 'fs-3') %}
                        <span class="material-symbols-outlined filled fs-2">group</span>
                    {% endcall %}
                </div>
            </div>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">{{ gettext('Name') }}</th>
                        <th scope="col">{{ gettext('Action') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.name | e }}</td>
                            <td>
                                <a href="{{ url_for('settings.participantsEdit', participant_id=participant.id) }}"
                                   class="link-light text-decoration-none">
                                    <span class="p-1 fs-5 material-symbols-outlined filled">edit</span>
                                </a>
                                <a href="" class="link-light text-decoration-none"
                                   data-bs-toggle="modal" data-bs-target="#delete-modal-participant-{{ participant.id }}">
                                    <span class="p-1 fs-5 material-symbols-outlined filled">delete</span>
                                </a>

                                {% call macros.deleteModal(gettext('Delete Participant?'), gettext('Do you really want to delete the participant "%(name)s"?', name=participant.name), 'participant-' + participant.id|string) %}
                                    {{ macros.buttonSubmitAutomaticallyDisabled(classes='btn btn-danger button-delete-modal-action', icon='delete', text=gettext('Delete'), disabledText=gettext('Deleting...'), dataUrl=url_for('settings.participantsDelete', participant_id=participant.id)) }}
                                {% endcall %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%- endmacro %}

{% macro settings_infoItems() -%}
    <div class="row mt-5 text-start">
        <div class="col col-6 mx-auto">
            <h3 class="text-center mb-5">{{ gettext('Select Information to show for each distance-based workout') }}</h3>
            <form role="form" action="{{ url_for('settings.editDistanceWorkoutInfoItems') }}" method="post"
                  onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);">
                {% for infoItem in infoItems %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                               {% if infoItem and infoItem.is_activated %}checked{% endif %}
                               id="infoItem-{{ infoItem.type.name }}"
                               name="{{ infoItem.type.name }}">
                        <label class="form-check-label" for="infoItem-{{ infoItem.type.name }}">
                            {{ infoItem.type.get_localized_name() }}
                        </label>
                    </div>
                {% endfor %}

                {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-4') }}
            </form>
        </div>
    </div>
{%- endmacro %}

{% macro settings_ntfy() -%}
    <div class="modal fade" tabindex="-1" id="notification-provider-modal-ntfy" data-bs-theme="dark">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content max-height-90">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    <span class="material-symbols-outlined fs-3">notifications</span>
                    <div class="fs-5 ms-2">{{ gettext('Notification Provider Settings') }} - ntfy</div>
                </div>

                <form id="ntfy-form" role="form" action="{{ url_for('settings.editNtfySettings') }}" method="post"
                      onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);" class="overflow-y-auto">
                    <div class="modal-body">
                        <div class="row mt-3 text-start">
                            <div class="col col-11 col-md-9 mx-auto">
                                <div class="row mb-5">
                                    <div class="col col-12 mx-auto d-flex align-items-center justify-content-start">
                                        <span class="material-symbols-outlined fs-4 me-2">info</span>
                                        <span>
                                            {{ gettext('More information about ntfy and how to setup your own ntfy server:') }} <a href="https://github.com/binwiederhier/ntfy" target="_blank">https://github.com/binwiederhier/ntfy</a>
                                        </span>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="d-flex align-items-center">
                                        <span class="material-symbols-outlined me-3">notifications</span>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="ntfySettingsIsActive"
                                                   name="is_active"
                                                   {% if allNotificationSettings['NTFY'].is_active %}checked{% endif %}/>
                                            <label class="form-check-label" for="ntfySettingsIsActive">{{ gettext('Activate notifications via ntfy') }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="ntfy-settings" class="{% if not allNotificationSettings['NTFY'].is_active %}hidden{% endif %}">
                                    <div class="mb-3 text-center text-danger hidden" id="warningMessageContainerImportFromFitFile">
                                        <i class="material-symbols-outlined filled align-middle">warning</i>
                                        <span id="warning-message" class="align-middle"></span>
                                    </div>

                                    <div class="alert alert-danger {% if not ntfyErrorMessage %} hidden{% endif %}" role="alert" id="warningMessageNtfy">
                                        {{ ntfyErrorMessage }}
                                    </div>

                                    <div class="mb-4">
                                        <label for="ntfy-url" class="form-label input-field-margin">{{ gettext('Ntfy Server URL') }}</label>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">travel_explore</span>
                                            <input type="text" class="form-control" id="ntfy-url" name="ntfy_url" placeholder="https://example.com" value="{% if ntfySettings.ntfy_url %}{{ ntfySettings.ntfy_url | e }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="ntfy-topic" class="form-label input-field-margin">{{ gettext('Ntfy Topic Name') }}</label>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">sell</span>
                                            <input type="text" class="form-control" id="ntfy-topic" name="ntfy_topic" value="{% if ntfySettings.ntfy_topic %}{{ ntfySettings.ntfy_topic | e }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="ntfy-username" class="form-label input-field-margin">{{ gettext('Username') }}</label>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">person</span>
                                            <input type="text" class="form-control" id="ntfy-username" name="ntfy_username" value="{% if ntfySettings.ntfy_username %}{{ ntfySettings.ntfy_username | e }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="ntfy-password" class="form-label input-field-margin">{{ gettext('Password') }}</label>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">vpn_key</span>
                                            <input type="password" class="form-control" id="ntfy-password" name="ntfy_password">
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <button type="button" id="btn-ntfy-test" class="btn btn-secondary input-field-margin d-flex align-items-center button-automatically-disabled" data-url="{{ url_for('settings.testNtfyNotifications') }}">
                                            <span class="material-symbols-outlined filled text-light">send</span>&nbsp;{{ gettext('Test') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer overflow-y-auto">
                        <button type="button" class="btn btn-secondary d-flex align-items-center button-automatically-disabled" data-bs-dismiss="modal"><span class="material-symbols-outlined text-light">close</span>&nbsp;{{ gettext('Cancel') }}</button>
                        {{ macros.buttonSubmitAutomaticallyDisabled(id='button-ntfy-settings-save', type='button', dataUrl=url_for('settings.settingsShow')) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro settings_notifications() -%}
    <div class="row mt-5 text-start">
        <div class="col col-11 col-md-9 mx-auto">
            {% call macros.headline(gettext('Notifications'), '', 'fs-3') %}
                <span class="material-symbols-outlined fs-2">notifications</span>
            {% endcall %}

            <div class=" mx-3 mt-5 overflow-x-auto text-center">
                <div class="d-inline-flex flex-row justify-content-center">
                    <div class="d-flex flex-column align-items-start mt-5">
                        <div class="mt-4 mb-2"></div>
                        <div class="fw-bold mx-auto mt-5 mb-3">{{ gettext('Notification type') }}</div>
                        {% for notificationType in notificationTypes %}
                            <div class="mb-3 text-nowrap">{{ notificationType.get_localized_title() }}</div>
                        {% endfor %}
                    </div>

                    {% for notificationSettings in allNotificationSettings.values() %}
                        <div class="d-flex flex-column ms-5 align-items-center">
                            <div class="fw-bold mb-3">{{ notificationSettings.provider_type.name }}</div>

                            {% if notificationSettings.is_active %}
                                <span class="badge rounded-pill text-bg-success mb-3">{{ gettext('enabled') }}</span>
                            {% else %}
                                <span class="badge rounded-pill text-bg-danger mb-3">{{ gettext('disabled') }}</span>
                            {% endif %}

                            <button class="btn btn-sm btn-primary d-inline-flex align-items-center mb-5"
                                    data-bs-toggle="modal"
                                    data-bs-target="#notification-provider-modal-ntfy">
                                <span class="material-symbols-outlined filled fs-5">settings</span>&nbsp;{{ gettext('Settings') }}
                            </button>

                            <form role="form" action="{{ url_for('settings.editNotificationSettings', notification_settings_id=notificationSettings.id) }}"
                                  method="post"
                                  onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);"
                            class="d-flex flex-column align-items-center mt-3">
                                {% for notificationType in notificationTypes %}
                                    {% set typeStatus=notificationSettings.get_notification_types()[notificationType] %}

                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               {% if typeStatus is true %}checked{% endif %}
                                               id="infoItem-{{ notificationSettings.provider_type.name }}-{{ notificationType.name }}"
                                               name="{{ notificationType.name }}"
                                               {% if notificationSettings.is_active is false %}disabled{% endif %}>
                                        <label class="form-check-label visually-hidden" for="infoItem-{{ notificationSettings.provider_type.name }}-{{ notificationType.name }}">
                                            {{ notificationType.name }}
                                        </label>
                                    </div>
                                {% endfor %}

                                {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-4', isDisabled=notificationSettings.is_active is false) }}
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Settings') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('settings') }}
        {% import 'workout/workoutMacros.jinja2' as workoutMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Settings')) %}
                            <span class="material-symbols-outlined filled fs-1">settings</span>
                        {% endcall %}
                    </div>
                </div>

                {% if ntfyErrorMessage %}
                    <div class="row mt-3 text-start">
                        <div class="col col-11 col-md-9 mx-auto">
                            <div class="alert alert-danger" role="alert">
                                {{ ntfyErrorMessage }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {{ settings_general() }}

                <hr class="mt-5"/>

                {{ settings_tileHunting() }}

                <hr class="mt-5"/>

                {{ settings_customFields() }}

                <hr class="mt-5"/>

                {{ settings_participants() }}

                <hr class="mt-5"/>

                {{ settings_infoItems() }}

                <hr class="mt-5"/>

                {{ settings_notifications() }}

                {{ settings_ntfy()  }}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
