<!DOCTYPE html>

{% macro render_notification(notification) -%}
    <div class="row py-2">
        <div class="col col-12 col-lg-6 mx-auto">
            <div class="card mb-4">
                <div class="card-header bg-dark-subtle fw-bold d-flex align-items-center justify-content-between pe-1">
                    <div class="d-flex align-items-center">
                        <div style="width: 2rem; height: 2rem;" class="rounded d-flex align-items-center justify-content-center {{ notification.type.color }} {{ notification.type.font_color }}">
                            {% if notification.type.is_font_awesome_icon %}
                                <i class="fa-solid {{ notification.type.icon }} fa-fw"></i>
                            {% else %}
                                <span class="material-symbols-outlined {% if not notification.type.is_outlined_icon %}filled{% endif %}">{{ notification.type.icon }}</span>
                            {% endif %}
                        </div>
                        <span class="ms-3 notification-title">{{ notification.type.get_localized_title() }}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="fw-normal text-body-secondary me-2">{{ notification.get_localized_time_delta() }}</span>
                        <a href="{{ url_for('notifications.delete', notification_id=notification.id) }}" class="d-flex align-items-center text-decoration-none">
                            <span class="material-symbols-outlined text-dark">close</span>
                        </a>
                    </div>
                </div>
                <div class="card-body text-start d-flex align-items-center justify-content-between">
                    <div>
                        <div>{{ notification.message | e }}</div>
                        {% if notification.message_details is not none %}
                            <div>{{ notification.message_details | e }}</div>
                        {% endif %}
                    </div>
                    {% if notification.type.get_action_url(notification.item_id) is not none %}
                        <a href="{{ notification.type.get_action_url(notification.item_id) }}" class="btn btn-sm btn-primary d-inline-flex align-items-center ms-3">
                            <span class="material-symbols-outlined filled text-light fs-5">open_in_new</span>&nbsp;Open
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro render_pagination(pagination) %}
    <h4>{{ pagination.first }} - {{ pagination.last }} {{ gettext('of') }} {{ pagination.total }}</h4>

    <nav>
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('notifications.listNotifications', pageNumber=pagination.prev_num) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for pageNumber in pagination.iter_pages() %}
                {% if pageNumber %}
                    {% if pageNumber != pagination.page %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('notifications.listNotifications', pageNumber=pageNumber) }}">{{ pageNumber }}</a></li>
                    {% else %}
                        <li class="page-item active"><a class="page-link" href="{{ url_for('notifications.listNotifications', pageNumber=pageNumber) }}">{{ pageNumber }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('notifications.listNotifications', pageNumber=pagination.next_num) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Notifications') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('notifications') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Notifications')) %}
                            <span class="material-symbols-outlined filled fs-1">notifications</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="mb-4">
                    <a href="{{ url_for('notifications.delete_all') }}" class="btn btn-sm btn-primary d-inline-flex flex-row align-items-center justify-content-center {% if mapMode == 'workouts' %}btn-available-year{% endif %}">
                        <div class="material-symbols-outlined filled">delete</div>&nbsp;{{ gettext('Dismiss all notifications') }}
                    </a>
                </div>

                {% if pagination.total == 0 %}
                    <div class="row my-5">
                        <div class="col col-12 fst-italic">
                            <h4>{{ gettext('No notifications') }}</h4>
                        </div>
                    </div>

                {% else %}
                    <div class="row mb-3">
                        <div class="col col-12">
                            {{ render_pagination(pagination) }}
                        </div>
                    </div>

                    {% for notification in pagination.items %}
                        {{ render_notification(notification) }}
                    {% endfor %}

                    <div class="row mb-3">
                        <div class="col col-12">
                            {{ render_pagination(pagination) }}
                        </div>
                    </div>
                {% endif %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
