// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import './custom-colors.scss';
@import './custom-typography.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$priam-primary: mat.define-palette($priam-primary, 500);
$priam-accent: mat.define-palette($priam-accent, 500);

// The warn palette is optional (defaults to red).
$priam-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$priam-theme: mat.define-dark-theme((
  color: (
    primary: $priam-primary,
    accent: $priam-accent,
    warn: $priam-warn,
  ),
  typography: $priam-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($priam-theme);
