<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Goals') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('monthGoals') }}

        {% import 'monthGoal/monthGoalsMacros.jinja2' as monthGoalsMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Month Goals'), url_for('monthGoals.add')) %}
                            <span class="material-symbols-outlined filled fs-1">flag</span>
                        {% endcall %}
                    </div>
                </div>

                {{ macros.workout_type_quick_filter(url_for('monthGoals.listMonthGoals'), false) }}

                {% for year, goals in goalsByYear.items() %}
                    <h3 class="mt-4">{{ year }}</h3>
                    {% for goal in goals %}
                        {% set goalSummary = goal.get_summary() %}
                        {% if goalSummary.type_name == 'DISTANCE' %}
                            {{ monthGoalsMacros.render_month_goal_distance_summary_card_large(goalSummary) }}
                            {{ monthGoalsMacros.render_month_goal_distance_summary_card_small(goalSummary) }}
                        {% elif goalSummary.type_name == 'COUNT' %}
                            {{ monthGoalsMacros.render_month_goal_count_summary_card_large(goalSummary) }}
                            {{ monthGoalsMacros.render_month_goal_count_summary_card_small(goalSummary) }}
                        {% elif goalSummary.type_name == 'DURATION' %}
                            {{ monthGoalsMacros.render_month_goal_duration_summary_card_large(goalSummary) }}
                            {{ monthGoalsMacros.render_month_goal_duration_summary_card_small(goalSummary) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
