<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('New Month Goal') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('workouts') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('New Month Goal')) %}
                            <span class="material-symbols-outlined filled fs-1">flag</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('monthGoalsDistance.add') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-light bg-secondary mb-3">route</div>
                            <div class="fs-3 text-light">{{ gettext('New Distance Goal') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('monthGoalsDistance.addMultiple') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-light bg-secondary mb-3">route</div>
                            <div class="fs-3 text-light">{{ gettext('Multiple New Distance Goals') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('monthGoalsCount.add') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-3">format_list_numbered</div>
                            <div class="fs-3 text-light">{{ gettext('New Count Goal') }}</div>
                        </a>
                    </div>
                   <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('monthGoalsCount.addMultiple') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-3">format_list_numbered</div>
                            <div class="fs-3 text-light">{{ gettext('Multiple New Count Goals') }}</div>
                        </a>
                   </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('monthGoalsDuration.add') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-light bg-secondary mb-3">timer</div>
                            <div class="fs-3 text-light">{{ gettext('New Duration Goal') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('monthGoalsDuration.addMultiple') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-symbols-outlined rounded-circle fs-1 p-3 text-light bg-secondary mb-3">timer</div>
                            <div class="fs-3 text-light">{{ gettext('Multiple New Duration Goals') }}</div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
