<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Multiple New Duration Month Goals') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('monthGoals') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Multiple New Duration Month Goals')) %}
                                <span class="material-symbols-outlined fs-1">timer</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="{{ url_for('monthGoalsDuration.addMultiplePost') }}"
                              method="post" onsubmit="return automaticallyDisableButtonsOnFormSubmit(this);">
                            <div class="mb-3">
                                <label for="month-goal-type" class="form-label input-field-margin">{{ gettext('Type') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined filled me-3">stars</span>
                                    <select class="form-select" id="month-goal-type" name="type" required="required">
                                         {% for workoutType in workoutTypes %}
                                            <option value="{{ workoutType.name }}" {% if goal and goal.type == workoutType.name %}selected{% endif %}>{{ workoutType.get_localized_name() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col col-6">
                                        <label for="month-goal-start-year" class="form-label input-field-margin">{{ gettext('Start Year') }}</label>
                                         <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">calendar_today</span>
                                            <input type="number" step="1" min="2000" class="form-control"
                                                   id="month-goal-start-year" name="start_year" placeholder="YYYY"
                                                   required="required">
                                         </div>
                                    </div>
                                    <div class="col col-6">
                                        <label for="month-goal-start-month" class="form-label input-field-margin">{{ gettext('Start Month') }}</label>
                                         <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">calendar_month</span>
                                            <input type="number" min="1" max="12" class="form-control" id="month-goal-start-month"
                                                   name="start_month" placeholder="MM"
                                                   required="required" >
                                         </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col col-6">
                                        <label for="month-goal-end-year" class="form-label input-field-margin">{{ gettext('End Year') }}</label>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">calendar_today</span>
                                            <input type="number" step="1" min="2000" class="form-control"
                                                   id="month-goal-end-year" name="end_year" placeholder="YYYY"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <label for="month-goal-end-month" class="form-label input-field-margin">{{ gettext('End Month') }}</label>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-outlined filled me-3">calendar_month</span>
                                            <input type="number" min="1" max="12" class="form-control"
                                                   id="month-goal-end-month"
                                                   name="end_month" placeholder="MM"
                                                   required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <label for="month-goal-minimum-hours" class="form-label input-field-margin">{{ gettext('Minimum Duration') }}</label>
                                        <div class="mb-3 d-flex align-items-center">
                                            <span class="material-symbols-outlined me-3">timer</span>

                                            <input type="number" step="1" min="0" class="form-control me-3"
                                                   id="month-goal-minimum-hours" name="duration_minimum_hours"
                                                   placeholder="{{ gettext('Hours') }}"
                                                   required="required"
                                                   {% if goal %}value="{{ goal.duration_minimum_hours }}"{% endif %}>

                                            <label for="month-goal-minimum-minutes" class="form-label">&nbsp;</label>
                                            <input type="number" step="1" min="0" max="59" class="form-control"
                                                   id="month-goal-minimum-minutes" name="duration_minimum_minutes"
                                                   placeholder="{{ gettext('Minutes') }}" required="required"
                                                   {% if goal %}value="{{ goal.duration_minimum_minutes }}"{% endif %}>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <label for="month-goal-perfect-hours" class="form-label input-field-margin">{{ gettext('Perfect Duration') }}</label>
                                        <div class="mb-3 d-flex align-items-center">
                                            <span class="material-symbols-outlined me-3">timer</span>

                                            <input type="number" step="1" min="0" class="form-control me-3"
                                                   id="month-goal-perfect-hours" name="duration_perfect_hours"
                                                   placeholder="{{ gettext('Hours') }}"
                                                   required="required"
                                                   {% if goal %}value="{{ goal.duration_perfect_hours }}"{% endif %}>

                                            <label for="month-goal-perfect-minutes" class="form-label">&nbsp;</label>
                                            <input type="number" step="1" min="0" max="59" class="form-control"
                                                   id="month-goal-perfect-minutes" name="duration_perfect_minutes"
                                                   placeholder="{{ gettext('Minutes') }}" required="required"
                                                   {% if goal %}value="{{ goal.duration_perfect_minutes }}"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ macros.buttonSubmitAutomaticallyDisabled(classes='mt-5 input-field-margin') }}
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
