<!DOCTYPE html>
<html>
    <head>
        <title>SportTracker - Login</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/login.css") }}"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('') }}

        <main>
            <div class="form-signin align-middle card">
                <form role="form" action="{{ url_for('authentication.login') }}" method="post">
                    <img class="mb-4" src="{{ url_for('static', filename="images/SportTracker.png") }}" alt="" width="80" height="80">
                    <h1 class="h3 mb-3 fw-normal">SportTracker</h1>

                    <label for="username" class="visually-hidden">{{ gettext('Username') }}</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                           required="" autofocus="">

                    <label for="password" class="visually-hidden">{{ gettext('Password') }}</label>
                    <input type="password" id="password" name="password" class="form-control mb-4"
                           placeholder="Password" required="">

                    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>

                    <button class="w-100 my-3 btn btn-lg btn-primary" type="submit">Login</button>

                    {% if message %}
                        <div class="col col-12 text-center text-danger">
                            <i class="material-symbols-outlined filled align-middle">warning</i>
                            <span id="loginMessage" class="align-middle">{{ message }}</span>
                        </div>
                    {% endif %}
                </form>
            </div>
        </main>

        {{ macros.scripts() }}
    </body>
</html>
