$priam-primary: (
    50 : #e4f2ff,
    100 : #bcdeff,
    200 : #8fc8ff,
    300 : #62b1ff,
    400 : #40a1ff,
    500 : #1e90ff,
    600 : #1a88ff,
    700 : #167dff,
    800 : #1273ff,
    900 : #0a61ff,
    A100 : #ffffff,
    A200 : #f5f8ff,
    A400 : #c2d5ff,
    A700 : #a8c3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$priam-accent: (
    50 : #fbe3e8,
    100 : #f5b9c5,
    200 : #ee8a9e,
    300 : #e75b77,
    400 : #e13759,
    500 : #dc143c,
    600 : #d81236,
    700 : #d30e2e,
    800 : #ce0b27,
    900 : #c5061a,
    A100 : #ffeeef,
    A200 : #ffbbc0,
    A400 : #ff8890,
    A700 : #ff6f78,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
